.out-wrapper {
  width: 100%;
  background-color: #f7f6f6;
  
  display: flex;
  justify-content: center;

  .my-materials-header {
    height: 40px;
    line-height: 40px;
    color: #606060;
    font-size: 18px;
    margin: 20px 0 0 15px;
  }

  .wrapper {
    margin: 60px 0 0 0;
    box-sizing: border-box;
    width: 1110px;
    background-color: #fff;

    .header {
      background-color: #fff;
      // background-color: rgba(62, 72, 109, 0.8);
      width: 100%;
      height: 45px;
      border-bottom: solid 1px #ebebeb;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      margin: 0 0 20px 0;

      .element {
        height: 100%;
        display: flex;
        align-items: center;
        
        span {
          text-transform: uppercase;
          // color: #ddd;
          color: #c0c0c0;
          font-size: 14px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 120px;
          cursor: pointer;
          width: auto;
          padding: 0 15px;
          
          .fa {
            margin: 0 0 0 5px;
            font-size: 16px;
          }
        }

        span:hover {
          color: #999;
          // color: #eee;
        }

        .active {
          border-bottom: solid 2px #e57373;
          color: #7a7a7a;
          // color: #fff;
          font-weight: 600;
        }

        .active:hover {
          // color: #fff;
          color: #7a7a7a;
        }

      }

      .element-title span {
        width: auto;
        cursor: default;
        padding: 0 15px;
      }

      .element-title span:hover {
        color: #c0c0c0;
        // color: #ddd
      }
    }

    .turn-right {
      justify-content: flex-end;
    }

    .filters {

      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0 0 20px 15px;

      .label {
        background-color: #ebebeb;
        height: 32px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        color: #929292;
        font-size: 12px;
        margin: 5px 10px 5px 0;
        border-radius: 2px;
        cursor: pointer;

        .fa {
          margin: 0 5px 0 0;
          font-size: 14px;
        }

        .fa:last-of-type {
          margin: 0 0 0 10px;
        }
      }

      .label:hover {
        opacity: 0.8;
      }

      .clear {
        height: 32px;
        display: flex;
        align-items: center;
        color: #d6d6d6;
        font-size: 12px;
        cursor: pointer;
        margin: 5px 10px 5px 0;
      }
    }

    .materials {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .short {
    margin: 0;
  }
}
