<div class="out-wrapper">
  <div>
    <div
      *ngIf="short"
      class="my-materials-header"
    >Мои материалы</div>
    <div
      class="wrapper z-depth-1"
      [class.short]="short"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="300"
      (scrolled)="onScroll()"
    >
      <div
        [class.turn-right]="short"
        class="header"
      >
        <div
          *ngIf="!short"
          class="element"
        >
          <span
            [class.active]="sortContentByRating"
            (click)="onContentSortChange.emit(true)"
          >Популярное</span>
          <span
            [class.active]="!sortContentByRating"
            (click)="onContentSortChange.emit(false)"
          >Свежее</span>
        </div>
        <div
          *ngIf="!short"
          class="element"
          routerLink="/library/{{byPlatform ? 'platforms' : 'categories'}}/{{category.alias}}/" 
        >
          <span>{{category.title}}</span>
        </div>
        <div
          *ngIf="short"
          class="element"
          routerLink="/my-materials"
        >
          <span
            *ngIf="short"
          >Мои материалы</span>
        </div>
      </div>
      
      <div
        *ngIf="
          materialFilters.book ||
          materialFilters.video ||
          materialFilters.course ||
          materialFilters.article ||
          activeTags.length ||
          activePlatforms.length
        "
        class="filters"
      >
        <span
          *ngIf="materialFilters.book"
          (click)="onMaterialFilterToggle('book')"
          class="label"
        ><i class="fa fa-book"></i>Книги <i class="fa fa-times"></i></span>
        <span
          *ngIf="materialFilters.video"
          (click)="onMaterialFilterToggle('video')"
          class="label"
        ><i class="fa fa-youtube-play"></i>Видео <i class="fa fa-times"></i></span>
        <span
          *ngIf="materialFilters.course"
          (click)="onMaterialFilterToggle('course')"
          class="label"
        ><i class="fa fa-graduation-cap"></i>Курсы <i class="fa fa-times"></i></span>
        <span
          *ngIf="materialFilters.article"
          (click)="onMaterialFilterToggle('article')"
          class="label"
        ><i class="fa fa-pencil"></i>Статьи <i class="fa fa-times"></i></span>

        <span
          *ngFor="let tag of activeTags"
          (click)="onTagToggle(tag)"
          class="label"
        >{{tag}} <i class="fa fa-times"></i></span>

        <span
          *ngFor="let tag of activePlatforms"
          (click)="onPlatformToggle(tag)"
          class="label"
        >{{tag}} <i class="fa fa-times"></i></span>

        <span
          class="clear"
          (click)="clearTagsFilters()"
        >Сбросить фильтры</span>
      </div>

      <div
        class="materials"
      >
        <app-material-block
          *ngFor="let material of cuttedMaterials"
          [material]="material"
          [color]="color"
          [status]="status"
          [sections]="sections"
          (onMaterialChanged)="onMaterialChanged($event)"
        ></app-material-block>
      </div>
    </div>
  </div>
  <div
    *ngIf="category"
  >
    <app-materials-sidebar
      [category]="getCategory()"
      [materialFilters]="materialFilters"
      [assignation]="assignation"
      [filterBlocks]="filterBlocks"
      [color]="color"
      [penantTitle]="penantTitle"
      [tags]="tags"
      [platforms]="platforms"
      [activePlatforms]="activePlatforms"
      [activeTags]="activeTags"
      (onAssignationFilterToggle)="onAssignationFilterToggle($event)"
      (onMaterialFilterToggle)="onMaterialFilterToggle($event)"
      (onTagToggle)="onTagToggle($event)"
      (onPlatformToggle)="onPlatformToggle($event)"
    ></app-materials-sidebar>
  </div>
</div>