.wrapper {
  position: relative;
  margin: 0 1em 1.5em 1em;
  background-color: #f7f6f6;
  // max-height: 20em;
  height: 15em;
  padding: 30px 1em 1em 1em;
  box-sizing: border-box;
  text-align: center;

  .header {
    height: 30px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }

  .header-auto {
    height: 40px;
    background-size: cover;
    background-position: center center;
  }

  .title {
    color: #606060;
    font-size: 0.938em;
    line-height: 1em;
    // margin: 2em 0;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .materials-stat {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c0c0c0;
    margin: 0.5em 0 1em 0;

    span {
      font-size: 0.750em;
    }
  }

  .progress {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 1.5em;
    position: relative;

    progress {
      height: 10px;
      width: 100%;

      &::-webkit-progress-value {
        background: blue;
      }
    }

    span {
      padding: 0 0.5em;
      color: #aeaeae;
      font-size: 0.750em;
      // position: absolute;
      right: 0.5em;
    }
  }

  button {
    color: #909090;
    background: none;
    border: none;
    margin: 1em 0;

    &:focus {
      outline: 0;
    }
  }
}

.wrapper-auto {
  padding-top: 40px;
}
