<div
  class="wrapper z-depth-1"
  [class.wrapper-auto]="auto"
>
  <div
    class="header"
    *ngIf="!auto"
    [ngStyle]="{'background-color': section.color}"
  ></div>
  <div
    class="header header-auto"
    *ngIf="auto"
    [ngStyle]="{'background-image': 'url(' + section.media + ')'}"
  ></div>
  <div class="title">{{section.title}}</div>
  <div class="materials-stat">
    <i class="fa fa-book"></i>
    <span>{{section.books}}</span>
    <i class="fa fa-youtube-play"></i>
    <span>{{section.videos}}</span>
    <i class="fa fa-graduation-cap"></i>
    <span>{{section.courses}}</span>
    <i class="fa fa-pencil"></i>
    <span>{{section.articles}}</span>
  </div>
  <div class="progress">
    <progress
      value="{{getProgressValue()}}"
      max="{{getProgressMax()}}"
    ></progress>
    <span>{{getPercentage()}}%</span>
  </div>
  <button
    routerLink="/home/sections/{{section.alias}}"
    *ngIf="!auto"
  >Открыть</button>
  <button
    routerLink="/library/categories/{{section.alias}}"
    *ngIf="auto"
  >Открыть</button>
</div>


<!--<div class="pure-u-4-24">-->
  <!--<a
    [ngStyle]="{'background-color': section.color}"
    routerLink="/home/sections/{{section.alias}}"
  >
    {{section.title}}
  </a>
  <p>books: {{section.books}}</p>
  <p>videos: {{section.videos}}</p>
  <p>courses: {{section.courses}}</p>
  <p>articles: {{section.articles}}</p>

  <p>backlog: {{section.backlog}}</p>
  <p>inProgress: {{section.inProgress}}</p>
  <p>done: {{section.done}}</p>-->
<!--</div>-->