<div
  *ngIf="material"
  class="wrapper z-depth-1"
>
  <div class="header">
    <div class="element">
      <span class="date">{{material.date | amLocale:'ru' | amTimeAgo}}</span>
      <span class="type">{{material.typeNameRu}}</span>
    </div>
    <div class="element">
      <span class="views">
        <i class="fa fa-eye"></i>
        {{material.rating}}
      </span>
      <span *ngIf="material.platform">{{material.platform}}</span>
      <i *ngIf="material.book" class="fa fa-book"></i>
      <i *ngIf="material.course" class="fa fa-graduation-cap"></i>
      <i *ngIf="material.video" class="fa fa-youtube-play"></i>
      <i *ngIf="material.article" class="fa fa-pencil"></i>
    </div>
  </div>

  <div class="content">
    <h4 
      class="title" 
      routerLink="/library/material/{{material.alias}}"
    >
      {{material.title}}
    </h4>
    <span
      *ngIf="material.authors"
      class="authors"
    >
      {{material.authors.join(', ')}}</span>
    <span
      *ngIf="material.start_date && material.end_date"
      class="dates"
    >c
      {{material.start_date | amLocale:'ru' | amDateFormat:'D MMMM'}}
      по
      {{material.end_date | amLocale:'ru' | amDateFormat:'D MMMM'}}
    </span>
    <span
      *ngIf="
        !material.authors &&
        (!material.start_date || !material.end_date) &&
        material.tags"
      class="authors"
    >{{material.tags.join(', ')}}</span>
    <span
      *ngIf="
        (!material.authors ||
        (!material.start_date || !material.end_date)) &&
        material.description"
      class="authors"
    >{{description}}</span>
  </div>
  <div
    class="media"
    [class.book]="material.book"
    [ngStyle]="{'background-image': 'url(' + material.media + ')'}"
    routerLink="/library/material/{{material.alias}}"
  ></div>
  <div
    *ngIf="!material.book"
    class="filter"
    routerLink="/library/material/{{material.alias}}"
  ></div>
  <div class="btns">
    <app-change-material-btn
      class="add-btn"
      [addTitle]="'Добавить'"
      [removeTitle]="'Удалить'"
      [material]="material"
      (onChanged)="onMaterialStatusChanged.emit($event)"
    ></app-change-material-btn>
    <button
      routerLink="/library/material/{{material.alias}}"
      class="pure-button button-second"
    >Открыть</button>
  </div>
</div>