.wrapper {
  width: 100%;
  height: 260px;
  background-color: #fff;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  position: relative;

  .header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #aaa;
    font-size: 14px;

    .element {
      height: 100%;
      display: flex;
      align-items: center;

      .date {
        font-weight: 300;
        margin: 0 20px 0 0;
      }

      .type {
        color: #e57373;
      }

      .views {
        margin: 0 20px 0 0;
        display: flex;
        align-items: center;

        .fa {
          font-size: 14px;
          margin: 0 7px 0 0;
        }
      }

      .fa {
        font-size: 20px;
        margin: 0 0 0 10px;
      }
    }
  }

  .content {
    width: 300px;
    height: 140px;
    overflow: hidden;

    .title {
      color: #000;
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      transition: all ease-in-out .15s;
    }

    .title:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    .authors {
      display: block;
      font-size: 15px;
      color: #989898;
      margin: 10px 0 0 0;
    }

    .dates {
      font-size: 13px;
      display: block;
      color: #c0c0c0;
      margin: 15px 0 0 0;
    }
  }

  .media {
    position: absolute;
    width: 300px;
    right: 20px;
    bottom: 20px;
    top: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all ease-in-out .15s;
  }

  .media:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  .filter {
    position: absolute;
    width: 300px;
    right: 20px;
    bottom: 20px;
    top: 60px;
    background-color: #000;
    opacity: 0.3;
  }

  .filter:hover {
    cursor: pointer;
  }

  .book {
    background-size: contain;
  }

  .add-btn {
    margin: 0 10px 0 0;
  }
}
