<div class="wrapper">

  <app-category-live-tags
    *ngIf="category"
    [tags]="tags"
    [short]="true"
    [categoryAlias]="category.alias"
    [title]="'Тематики'"
    [activeTags]="activeTags"
    (onTagToggle)="onTagToggle.emit($event)"
  ></app-category-live-tags>

  <app-category-live-tags
    *ngIf="category"
    [tags]="platforms"
    [short]="true"
    [categoryAlias]="category.alias"
    [title]="'Источники'"
    [activeTags]="activePlatforms"
    (onTagToggle)="onPlatformToggle.emit($event)"
  ></app-category-live-tags>

  <div class="header">Фильтр материалов</div>
  <div class="materials-filter z-depth-1">
    <div
      [class.active]="materialFilters?.book"
      class="filter-row"
      (click)="onMaterialFilterToggle.emit('book')"
    >
      <div class="tag">
        <span class="icon"><i class="fa fa-book"></i></span>
        <span class="tag-name">Книги</span>
      </div>
      <span class="count">{{category.books}}</span>
    </div>
    <div
      [class.active]="materialFilters?.video"
      class="filter-row"
      (click)="onMaterialFilterToggle.emit('video')"
    >
      <div class="tag">
        <span class="icon"><i class="fa fa-youtube-play"></i></span>
        <span class="tag-name">Видео</span>
      </div>
      <span class="count">{{category.videos}}</span>
    </div>
    <div
      [class.active]="materialFilters?.course"
      class="filter-row"
      (click)="onMaterialFilterToggle.emit('course')"
    >
      <div class="tag">
        <span class="icon"><i class="fa fa-graduation-cap"></i></span>
        <span class="tag-name">Курсы</span>
      </div>
      <span class="count">{{category.courses}}</span>
    </div>
    <div
      [class.active]="materialFilters?.article"
      class="filter-row"
      (click)="onMaterialFilterToggle.emit('article')"
    >
      <div class="tag">
        <span class="icon"><i class="fa fa-pencil"></i></span>
        <span class="tag-name">Статьи</span>
      </div>
      <span class="count">{{category.articles}}</span>
    </div>
  </div>

</div>
