.wrapper {
  width: 200px;
  box-sizing: border-box;
  margin: 20px 0 0 10px;

  .header {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #606060;
    padding: 0 0 0 15px;
  }

  .materials-filter {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px 15px 10px 20px;

    .filter-row {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .tag {
        margin: 5px 0;
        height: 32px;
        background-color: #f7f6f6;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 8px 0 0;
        box-sizing: border-box;
        max-width: 100%;

        .icon {
          height: 32px;
          width: 32px;
          color: #7a7a7a;
          font-size: 12px;
          font-weight: 300;
          background-color: #d6d6d6;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 0 0 32px;
        }

        .tag-name {
          color: #212121;
          opacity: 0.87;
          font-weight: 300;
          padding: 0 0 0 8px;
          box-sizing: border-box;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }

      .count {
        color: #c0c0c0;
        font-weight: 300;
        font-size: 13px;
        width: 100%;
        text-align: center;
      }

      .tag:hover .icon {
        background-color: #e57373;
        color: #fff;
      }
    }

    .active {
      .tag {
        background-color: #eee;

        .icon {
          background-color: #e57373;
          color: #fff;
        }
      }

      .tag:hover .icon {
        opacity: 0.8;
      }
    }
  }

  .section {
    width: 100%;
    background-color: #f7f6f6;

    .controls-title,
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #7a7a7a;
      font-size: 0.938em;
      padding: 1em 1em 1em 1em;
      text-align: center;
    }

    .controls-title {
      background-color: #ebebeb;
      color: #808080;
      font-size: 0.875em;
      cursor: pointer;
      
      i {
        position: absolute;
        margin: 0 0 0 4em;
      }
    }

    .materials-wrapper {
      box-sizing: border-box;
      padding: 0 2.2em;
      display: flex;
      flex-direction: column;

      .row {
        height: 2em;
        width: 100%;
        color: #a4a4a4;
        font-size: 0.813em;
        font-weight: 300;

        span {
          text-align: center;
        }
        
        .name {
          text-align: left;
        }
      }
    }

  }
}