<div class="wrapper">
  <div class="container" *ngIf="collectionsStatus && collectionsStatus.success">
    <div *ngIf="collectionsStatus.data && collectionsStatus.data.length">
      <template ngFor let-collection [ngForOf]="collectionsStatus.data" let-i="index">
        <app-collections-list-block
          [collection]="collection"
          [reverse]="i % 2"
        ></app-collections-list-block>
      </template>
    </div>
  </div>

  <div *ngIf="collectionsStatus && !collectionsStatus.success">
    Ошибка <strong *ngIf="collectionsStatus.msg">{{collectionsStatus.msg}}</strong>
  </div>

</div>