.header {
  height: 60px;
  display: flex;
  align-items: center;
  color: #606060;
  font-size: 18px;
  margin: 0 0 0 25px;
}

.short-header {
  height: 40px;
  line-height: 40px;
  margin: 0 0 0 15px;
}

.wrapper {
  background-color: #fff;
  width: 530px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 10px 25px;
  box-sizing: border-box;

  .tag {
    margin: 5px 25px 5px 0;
    height: 32px;
    background-color: #f7f6f6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px 0 0;
    box-sizing: border-box;
    cursor: pointer;

    .count {
      height: 32px;
      width: 32px;
      color: #7a7a7a;
      font-size: 12px;
      font-weight: 300;
      background-color: #d6d6d6;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .tag-name {
      color: #212121;
      opacity: 0.87;
      font-weight: 300;
      padding: 0 0 0 8px;
      box-sizing: border-box;
    }
  }

  .tag:hover .count {
    background-color: #e57373;
    color: #fff;
  }
}

.short-wrapper {
  width: 100%;
  padding: 10px 15px 10px 20px;

  .tag {
    max-width: 100%;
    margin: 5px 0;

    .count {
      flex: 0 0 32px;
    }

    .tag-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }

  .active {
    background-color: #eee;

    .count {
      background-color: #e57373;
      color: #fff;
    }

  }
  .active:hover .count {
    opacity: 0.8;
  }

  .show-all {
    width: 100%;
    height: 36px;
    font-weight: 300;
    font-size: 14px;
    color: #929292;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
  }

  .show-all:hover {
    text-decoration: underline;
  }
}
