<span
  class="header"
  [class.short-header]="short"
>{{title}}</span>

<div
  [class.short-wrapper]="short"
  class="wrapper z-depth-1"
>
  <template ngFor let-tag [ngForOf]="tags" let-i="index">
    <div
      *ngIf="addedMaterials"
      routerLink="/my-materials/catalog/{{tag.tag}}" 
      class="tag"
    >
      <span class="count">{{tag.count}}</span>
      <span class="tag-name" title="{{tag.tag}}">{{tag.tag}}</span>
    </div>
    <div
      *ngIf="!short && tag.count > 5"
      routerLink="/library/{{byPlatform ? 'platforms' : 'categories'}}/{{categoryAlias}}/catalog/{{tag.tag}}" 
      class="tag"
    >
      <span class="count">{{tag.count}}</span>
      <span class="tag-name" title="{{tag.tag}}">{{tag.tag}}</span>
    </div>
    <div
      *ngIf="(short && (i < 6 || showAll))"
      class="tag"
      [class.active]="short && activeTags.indexOf(tag.tag) !== -1"
      (click)="onTagToggle.emit(tag.tag)"
    >
      <span class="count">{{tag.count}}</span>
      <span class="tag-name" title="{{tag.tag}}">{{tag.tag}}</span>
    </div>
  </template>
  <div
    *ngIf="short && tags.length > 6"
    class="show-all"
    (click)="showAll = !showAll"
  >{{showAll ? 'Скрыть' : 'Показать все (' + (tags.length - 6) + ')'}}</div>
</div>

