.secondNav-wrapper {
  // min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5EBC7F;
  min-width: 1340px;
  
  .content {
    width: 100%;
    position: relative;

    .close-btn {
      text-transform: uppercase;
      border: 1px solid #fff;
      border-radius: 2px;
      color: #fff;
      font-size: 13px;
      width: 100px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      margin-left: -50px;
      left: 50%;
      margin-bottom: 10px;
    }

    .close-btn:hover {
      background-color: rgba(255, 255, 255, 0.1)
    }
  }
  
  .nav {
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    flex-direction: column;

    .title {
      font-size: 26px;
      font-weight: 300;
      text-align: center;
      margin: 30px 0 45px 0;
    }

    .points {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 0 30px 0;

      .point {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 370px;

        .fa {
          font-size: 64px;
        }

        .sub-content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          width: 280px;

          .sub-title {
            margin: 0;
            font-size: 20px;
            line-height: 1.5;
            font-weight: 400;
          }

          .sub-description {
            margin: 0;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
          }
        }
      }
    }

    .cross {
      position: absolute;
      right: 40px;
      top: 40px;
      font-size: 20px;
      // color: #505050;
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
