<div
  *ngIf="showMain || showSemi"
  class="secondNav-wrapper"
>
  <div class="container nav">
    <div
    *ngIf="showMain"
    class="content"
    >
      <h3 class="title">Добро пожаловать на <strong>You Know</strong> - агрегатор образовательного контента</h3>
      <div class="points">
        <div class="point">
          <i class="fa fa-globe"></i>
          <div class="sub-content">
            <h3 class="sub-title">Собираем</h3>
            <p class="sub-description">Мы храним ссылки на образовательные материалы. Задействованно более 20-ти крупных сайтов</p>
          </div>
        </div>
        <div class="point">
          <i class="fa fa-files-o"></i>
          <div class="sub-content">
            <h3 class="sub-title">Систематизируем</h3>
            <p class="sub-description">У нас четыре тематических раздела наполненные книгами, курсами, статьями и видео</p>
          </div>
        </div>
        <div class="point">
          <i class="fa fa-refresh"></i>
          <div class="sub-content">
            <h3 class="sub-title">Обновляем</h3>
            <p class="sub-description">Мы следим за актуальностью. Разделы пополняются новыми материалами</p>
          </div>
        </div>
      </div>
      <div
        (click)="close()"
        class="close-btn"
      >закрыть</div>
    </div>
    <div
      *ngIf="showSemi"
      class="content"
    >
      <h3 class="title">Вы попали в тематический раздел, посвящённый {{titleSemi}}</h3>
      <div class="points">
        <div class="point">
          <i class="fa fa-th"></i>
          <div class="sub-content">
            <h3 class="sub-title">Лента и каталог</h3>
            <p class="sub-description">Лента - удобный вид отображения обновлений. Для поиска конкретных материалов используйте каталог</p>
          </div>
        </div>
        <div class="point">
          <i class="fa fa-tags"></i>
          <div class="sub-content">
            <h3 class="sub-title">Основные тематики</h3>
            <p class="sub-description">Генерируются автоматически на основе тем материалов в этом разделе. <br> Используйте их для фильтрации</p>
          </div>
        </div>
        <div class="point">
          <i class="fa fa-copyright"></i>
          <div class="sub-content">
            <h3 class="sub-title">Источники материалов</h3>
            <p class="sub-description">Сайты, площадки, каналы откуда агрегируются материалы. <br> Также можно использовать для фильтрации</p>
          </div>
        </div>
      </div>
      <div
        (click)="close()"
        class="close-btn"
      >закрыть</div>
    </div>
  </div>
</div>
