<div class="wrapper z-depth-1">
  <div class="container nav-wrapper">

    <div class="back-outer">
      <div
        class="back-wrapper"
        *ngIf="state?.back?.btn && state?.back?.url && state?.back?.title"
      >
        <a
          [routerLink]="[state?.back?.url]"
        >
          <i class="fa fa-arrow-left"></i>
          <i
            *ngIf="state && state.back && state.back.icon"
            class="fa fa-{{state?.back?.icon}}"></i>
          {{state?.back?.title}}
        </a>
      </div>
      <div
        class="back-wrapper"
        *ngIf="!(state?.back?.btn && state?.back?.url && state?.back?.title) && shouldShowBack()"
      >
        <a
          (click)="navigateBack()"
        >
          <i class="fa fa-{{state?.back?.icon ? state.back.icon : 'arrow-left'}}"></i>Назад
        </a>
      </div>
    </div>

    <div class="center-nav">
      <h2 class="title-second" *ngIf="state?.title">
        <i class="fa fa-{{icon}}"></i> {{state?.title}}
        <!-- <i class="fa fa-{{state.titleIcon ? state.titleIcon : 'book'}}"></i> {{state?.title}} -->
      </h2>
      <nav *ngIf="state?.tabs?.length">
        <a
          class="title-second"
          [class.active-second]="tab.active"
          *ngFor="let tab of state.tabs"
          [routerLink]="[tab.url]"
          routerLinkActive="active"
        >
          <i *ngIf="tab.icon" class="fa fa-{{tab.icon}}">
          </i> {{tab.title}}
        </a>
      </nav>
    </div>

    <nav class="profile">
      <a
        *ngIf="showAdmin"
        class="nav-btn"
        routerLink="/admin"
        routerLinkActive="activeAdmin"
      >
        <i class="fa fa-btc"></i>
      </a>
      <a class="nav-btn" routerLink="/library" routerLinkActive="activeLib">
        <i class="fa fa-university"></i>Библиотека
      </a>
      <a
        *ngIf="auth.authenticated() && auth.userProfile && auth.userProfile.name"
        class="nav-btn"
        routerLink="/my-materials"
        routerLinkActive="activeHome"
      >
      <!-- <a class="nav-btn" routerLink="/home" routerLinkActive="activeHome"> -->
        <!-- <i class="fa fa-home"></i>Дом -->
        <!-- <i class="fa fa-home"></i>Мои материалы -->
        <img
          *ngIf="auth.authenticated() && auth.userProfile && auth.userProfile.picture"
          [src]="auth.userProfile.picture"
          alt=""
          class="profile-img">
        <span *ngIf="auth.authenticated() && auth.userProfile && auth.userProfile.name">{{auth.userProfile.name}}</span>
      </a>
      <a class="nav-btn sign-in" (click)="auth.login()" *ngIf="!auth.authenticated()">
        <i class="fa fa-sign-in"></i>Войти
      </a>
      <a class="log-control" (click)="auth.logout()" *ngIf="auth.authenticated()">
        <i class="fa fa-sign-out"></i>
      </a>
      <!-- <a routerLink="/home">Home</a> -->
    </nav>

  </div>
</div>