.wrapper {
  display: block;
  z-index: 2;
  position: relative;
  min-width: 1340px;
  background-color: #fff;

  .nav-wrapper {
    position: relative;
    background-color: white;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    box-sizing: border-box;

    .back-outer {
      z-index: 3;
    }

    .back-wrapper {
      a {
        color: #aaaaaa;
        font-weight: 300;
        text-decoration: none;
        transition: all ease-in-out .15s;
        cursor: pointer;

        i {
          margin: 0 10px 0 0;
        }
      }

      :hover {
        color: #484848;
      }
    }

    .center-nav {
      position: absolute;
      text-align: center;
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box;
      left: 0;

      .title-second {
        text-decoration: none;
        color: #aaaaaa;
        font-weight: 300;
        font-size: 1em;
        padding: 0 10px;
        transition: all ease-in-out .15s;
      }

      .active-second {
        color: #e57373;
      }

      .active-second:hover {
        color: #e57373;
      }
    }

    .profile {
      display: flex;
      align-items: center;
      z-index: 3;

      .nav-btn {
        height: 35px;
        background-color: #ebebeb;
        color: #aaaaaa;
        font-size: 1em;
        font-weight: 300;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 0 8px;
        border-radius: 2px;
        cursor: pointer;
        margin: 0 0 0 13px;
        transition: all ease-in-out .15s;

        i {
          font-size: 1.063em;
          margin: 0 3px 0 0;
        }

        .profile-img {
          max-width: 25px;
          max-height: 25px;
          border-radius: 50%;

          margin: 0 10px 0 0;
        }

      }

      .nav-btn:hover {
        background-color: #dadada;
        color: #484848;

        span, a {
          color: #484848;
        }
      }

      span {
        color: #7a7a7a;
        font-weight: 300;
      }

      .log-control {
        color: #7a7a7a;
        font-size: 1.188em;
        margin: 0 0 0 10px;
        cursor: pointer;
      }

      .activeHome {
        background-color: #e57373;

        span {
          color: #fff;
        }
      }

      .activeHome:hover {
        background-color: #e57373;
        
        span {
          color: #fff;
        }
      }

      .activeLib {
        background-color: rgba(62, 72, 109, 0.8);
        color: #fff;
      }

      .activeLib:hover {
        background-color: rgba(62, 72, 109, 0.8);
        color: #fff;
      }

      .activeAdmin {
        background-color: #aedd94;
        color: #fff;
      }
      
      .sign-in {
        background-color: #9E9E9E;
        color: #fff;
      }
    }
  }
}
