.block {
  position: relative;
  width: 100%;
}

.block-cover {

  .bg-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    position: relative;
    background-attachment: fixed;
  }

  .bg-filter {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));
    position: absolute;
    left: 0;
    top: 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .content {
      width: 100%;
      background-color: #fff;
      height: 530px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 50px;
      text-align: center;
      box-sizing: border-box;

      .title {
        // font-size: 60px;
        font-size: 46px;
        // color: #222;
        font-weight: 600;
      }

      .materials-counter {
        font-weight: 600;
        font-size: 15px;
        color: #111;
      }

      .tags {
        font-weight: 300;
        font-size: 22px;
        color: #888;
      }
    }
  }
}

.block-author {

  .wrapper {
    padding: 150px 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;

    .bg-image {
      width: 560px;
      height: 560px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 20px;
    }

    .content {
      width: 560px;
      height: 560px;
      margin: 0 20px;
      background-color: #efefef;
      padding: 60px 60px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-size: 26px;
        font-weight: 600;
        color: #000;
      }

      .sub-title {
        color: #666;
        font-size: 16px;
        font-weight: 300;
      }

      hr {
        margin-top: 28px;
        height: 3px;
        background-color: #000;
        width: 50px;
        margin-left: 0;
        margin-bottom: 36px;
        flex: 0 0 3px;
      }

      p {
        font-size: 18px;
        font-weight: 300;
        color: #000;
        line-height: 1.55;
        margin-top: 0;
        margin-bottom: 18px;
      }
    }
  }
}

.block-cause {

  .bg-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    position: relative;
    background-attachment: fixed;
  }

  .bg-filter {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));
    position: absolute;
    left: 0;
    top: 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .content {
      width: 100%;
      background-color: #fff;
      // height: 530px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 50px;
      text-align: center;
      box-sizing: border-box;

      .title {
        font-size: 40px;
        color: #222;
        font-weight: 600;
      }

      .description {
        font-weight: 300;
        font-size: 20px;
        line-height: 1.55;
        color: #000;
      }
    }
  }
}

.block-target {

  .wrapper {
    padding: 75px 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 40px;
      line-height: 1.23;
      margin-bottom: 40px;
      font-weight: 600;
    }

    .content {
      width: 700px;
      // height: 560px;
      margin: 0 20px;
      padding: 60px 60px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .content-row {
        display: flex;
        justify-content: space-between;

        img {
          width: 65px;
          height: 65px;
          margin: 0 30px 0 0;
        }

        .content-row-title {
          font-size: 20px;
          line-height: 1.35;
          font-weight: 600;
          color: #000;
          margin-bottom: 14px;
        }

        .content-row-description {
          font-size: 18px;
          line-height: 1.55;
          font-weight: 300;
          color: #000;
        }
      }
    }
  }
}

.block-video {

  .wrapper {
    padding: 60px 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;

    .title {
      font-size: 72px;
      line-height: 1.17;
      font-weight: 600;
      margin: 0;
    }

    span {
      padding: 50px 0;
      font-size: 26px;
      line-height: 1.45;
      font-weight: 300;
      color: #000;
    }

    .materials {
      text-align: center;
      width: 1340px;
      justify-content: center;

      .material {
        text-align: left;
      }
    }

    .content {
      width: 1200px;
      margin: 0 20px;
      padding: 30px 10px;
      box-sizing: border-box;
      display: flex;
      // flex-direction: column;
      justify-content: center;

      .description {
        padding: 0 50px 20px 0;
        box-sizing: border-box;

        .subtitle {
          font-size: 20px;
          line-height: 1.55;
          font-weight: 600;
        }

        p {
          font-weight: 300;
          font-size: 20px;
          line-height: 30px;
        }
      }

      .material {

        iframe {
          width: 560px;
          height: 315px;
        }

        p {
          font-size: 15px;
          font-weight: 600;
        }
      }

    }
  }
}

.block-articles {
  background-color: #fff;
  width: 100%;
  padding: 30px 0 50px 0;

  .wrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .title {
      color: #000;
      font-size: 40px;
      font-weight: 600;
    }

    .description {
      font-size: 23px;
      line-height: 1.55;
      font-weight: 400;
      width: 850px;
      text-align: center;
      margin: 30px 0;
    }

    .content {
      display: flex;
      flex-direction: column;

      .material {
        width: 850px;
        display: flex;
        padding: 20px 0;

        .bg-image {
          width: 200px;
          height: 200px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          flex: 0 0 200px;
        }

        .material-content {
          padding: 0 0 0 30px;
          box-sizing: border-box;

          .material-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 1.5;
          }

          .material-description {
            font-weight: 300;
            font-size: 18px;
            line-height: 1.5;
            padding: 15px 0;
          }
        }
      }
    }
  }
}

.block-materials {

  .wrapper {
    padding: 60px 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;

    .title {
      font-size: 72px;
      line-height: 1.17;
      font-weight: 600;
      margin: 0;
    }

    span {
      padding: 50px 0;
      font-size: 26px;
      line-height: 1.45;
      font-weight: 300;
      color: #000;
    }

    .materials {
      text-align: center;
      width: 1340px;
      justify-content: center;

      .material {
        text-align: left;
      }
    }

    .content {
      width: 700px;
      // height: 560px;
      margin: 0 20px;
      padding: 60px 60px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .content-row {
        display: flex;
        justify-content: space-between;

        img {
          width: 65px;
          height: 65px;
          margin: 0 30px 0 0;
        }

        .content-row-title {
          font-size: 20px;
          line-height: 1.35;
          font-weight: 600;
          color: #000;
          margin-bottom: 14px;
        }

        .content-row-description {
          font-size: 18px;
          line-height: 1.55;
          font-weight: 300;
          color: #000;
        }
      }
    }
  }
}

.block-material {

  .wrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;

    .image {
      width: 560px;
      height: 560px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 150px;
        margin: 0 0 30px 0;
      }
    }

    .content {
      width: 560px;
      height: 560px;
      padding: 60px 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-weight: 600;
        color: #000;
        font-size: 52px;
        line-height: 1.23;
        margin: 0;
      }

      .sub-title {
        color: #000000;
        font-size: 24px;
        line-height: 1.5;
        font-weight: 400;
        opacity: 0.5;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        margin: 15px 0;
      }

      p {
        margin: 0;
        color: #000;
        font-size: 18px;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }
    }
  }
}

.block-quote {

  .bg-image {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    position: relative;
    background-attachment: fixed;
  }

  .bg-filter {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));
    position: absolute;
    left: 0;
    top: 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .content {
      width: 100%;
      // height: 530px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 50px;
      text-align: center;
      box-sizing: border-box;

      .title {
        font-size: 32px;
        color: #fff;
        font-weight: 600;
        line-height: 1.23;
      }

      hr {
        height: 1px;
        background-color: #fff;
        width: 160px;
      }

      .description {
        font-weight: 300;
        font-size: 22px;
        color: #fff;
        margin-top: 43px;
        padding: 0 50px;
        margin-bottom: 0;
        line-height: 1.55;
      }
    }
  }
}

.block-sources {

  .wrapper {
    padding: 50px 0 105px 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 30px;
      line-height: 1.23;
      margin-bottom: 20px;
      font-weight: 600;
      margin: 0;
    }

    .content {
      width: 1200px;
      // height: 560px;
      margin: 0 20px;
      padding: 60px 0;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      text-align: center;

      img {
        width: 100px;
        height: 100px;
        margin: 0 0 14px 0;
        border-radius: 50px;
      }

      a {
        text-decoration: none;
      }

      .content-row-title {
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
        color: #000;
        margin-bottom: 14px;
      }

      .content-row-description {
        font-size: 16px;
        line-height: 25px;
        font-weight: 300;
        color: #000;
      }
    }
  }
}

.block-recommendations {
  display: flex;

  .wrapper {
    width: 50vw;
    position: relative;
    overflow: hidden;
  }

  .wrapper:hover .image {
    transform: scale(1.05);
  }

  .wrapper:hover .bg-filter {
    opacity: .8;
  }

  .bg-image {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    position: relative;
    transition: all ease-in-out .25s;
  }
  

  .bg-filter {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));
    position: absolute;
    left: 0;
    top: 0;
  }

  .content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    box-sizing: border-box;

    .title {
      color: #fff;
      font-size: 36px;
      line-height: 1.23;
      font-weight: 600;
      margin: 0;
      cursor: pointer;
      text-align: center;
    }

    .tags {
      color: #fff;
      margin-top: 20px;
      font-size: 16px;
      line-height: 1.55;
      font-weight: 300;
      cursor: pointer;
    }

  }

}

.button-second {
  margin: 0 0 0 10px;
}

.block-course {

  .bg-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    position: relative;
    background-attachment: fixed;
  }

  .bg-filter {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));
    position: absolute;
    left: 0;
    top: 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .content {
      width: 800px;
      // height: 530px;
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: space-between;
      padding: 50px;
      // text-align: center;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.9);

      h5 {
        color: #000000;
        font-size: 14px;
        line-height: 1.55;
        font-weight: 700;
        letter-spacing: 2.5px;
      }

      .title {
        font-size: 30px;
        // color: #fff;
        font-weight: 600;
        line-height: 1.2;
      }

      .description {
        font-weight: 300;
        font-size: 18px;
        // color: #fff;
        // margin-top: 43px;
        // padding: 0 50px;
        margin-bottom: 0;
        line-height: 1.55;
        margin: 0;
      }

      .btns {
        margin: 10px 0 0 0;
      }
    }
  }
}
