
  <div
    *ngIf="block.type == collectionBlockType.cover"
    class="block block-cover"
  >
    <div
      class="bg-image"
      [ngStyle]="{'background-image': 'url(' + block.background + ')'}"
    ></div>
    <div class="bg-image bg-filter"></div>
    <div class="wrapper">
      <div class="content">
        <span class="materials-counter">{{block.texts_1.join(', ')}}</span>
        <h2 class="title">{{block.title}}</h2>
        <span class="tags">{{block.texts_2.join(', ')}}</span>
      </div>
    </div>
  </div>

  <div
    *ngIf="block.type == collectionBlockType.author"
    class="block block-author"
  >
    <div class="wrapper">
      <div
        class="bg-image"
        [ngStyle]="{'background-image': 'url(' + block.background + ')'}"
      ></div>
      <div class="content">
        <h3 class="title">{{block.title}}</h3>
        <span *ngFor="let subTitle of block.texts_1" class="sub-title">{{subTitle}}</span>
        <hr>
        <p
          *ngFor="let text of block.texts_2"
        >{{text}}</p>
      </div>
    </div>
  </div>

  <div
    *ngIf="block.type == collectionBlockType.cause"
    class="block block-cause"
  >
    <div
      class="bg-image"
      [ngStyle]="{'background-image': 'url(' + block.background + ')'}"
    ></div>
    <div class="bg-image bg-filter"></div>
    <div class="wrapper">
      <div class="content">
        <h2 class="title">{{block.title}}</h2>
        <p
          *ngFor="let text of block.texts_1"
          class="description"
        >{{text}}</p>
      </div>
    </div>
  </div>

  <div
    *ngIf="block.type == collectionBlockType.target"
    class="block block-target"
  >
    <div class="wrapper">
      <h3 class="title">{{block.title}}</h3>
      <div class="content">
        <div *ngFor="let row of block.texts_1; let i = index" class="content-row">
          <img src="{{block.medias[i]}}" alt="">
          <div>
            <div class="content-row-title">{{block.texts_1[i]}}</div> 
            <div class="content-row-description">{{block.texts_2[i]}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="block.type == collectionBlockType.materials"
    class="block block-materials"
  >
    <div class="wrapper">
      <h3 class="title">{{block.title}}</h3>
      <span>{{block.texts_1.join(' ')}}</span>
      <div class="materials pure-g">
          <!-- [status]="status"
          [color]="color"
          [sections]="sections"
          (onMaterialChanged)="onMaterialChanged($event)" -->
        <div
          *ngFor="let material of block.materials"
          class="pure-u-1-4 material"
        >
          <app-material-block
            [material]="material"
            [extended]="true"
          ></app-material-block>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="block.type == collectionBlockType.material"
    class="block block-material"
  >
    <div class="wrapper">
      <div class="image">
        <img src="{{block.background}}" alt="">
        <div>
          <!-- [sections]="sections"
          [addColor]="color"
          [status]="status"
          (onChanged)="onMaterialChanged.emit($event)" -->
          <app-change-material-btn
            [addTitle]="'Добавить'"
            [removeTitle]="'Удалить'"
            [material]="block.materials[0]"
          ></app-change-material-btn>
          <button
            routerLink="/library/material/{{block.materials[0].alias}}"
            class="pure-button button-second"
          >Открыть</button>
        </div>
      </div>
      <div class="content">
        <h3 class="title">{{block.title}}</h3>
        <span class="sub-title">{{block.texts_1.join(', ')}}</span>
        <p>{{block.texts_2.join(', ')}}</p>
      </div>
    </div>
  </div>


  <div
    *ngIf="block.type == collectionBlockType.materials_short"
    class="block block-materials"
  >
    <div class="wrapper">
      <div class="materials pure-g">
          <!-- [status]="status"
          [color]="color"
          [sections]="sections"
          (onMaterialChanged)="onMaterialChanged($event)" -->
        <div
          *ngFor="let material of block.materials"
          class="pure-u-1-4 material"
        >
          <app-material-block
            [material]="material"
            [extended]="true"
          ></app-material-block>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="block.type == collectionBlockType.quote"
    class="block block-quote"
  >
    <div
      class="bg-image"
      [ngStyle]="{'background-image': 'url(' + block.background + ')'}"
    ></div>
    <div class="bg-image bg-filter"></div>
    <div class="wrapper">
      <div class="content">
        <h2 class="title">{{block.title}}</h2>
        <hr>
        <p class="description">{{block.texts_1.join(', ')}}</p>
      </div>
    </div>
  </div>

  <div
    *ngIf="block.type == collectionBlockType.sources"
    class="block block-sources"
  >
    <div class="wrapper">
      <h3 class="title">{{block.title}}</h3>
      <div class="content pure-g">
        <div
          *ngFor="let row of block.texts_1; let i = index"
          class="pure-u-1-4"
        >
          <a
            href="{{block.urls[i]}}"
            target="_blank"
            rel="noreferrer"
          >
            <img src="{{block.medias[i]}}" alt="">
            <div class="content-row-title">{{block.texts_1[i]}}</div>
            <div class="content-row-description">{{block.texts_2[i]}}</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="block.type == collectionBlockType.recommendations"
    class="block block-recommendations"
  >
    <div
      *ngFor="let row of block.texts_1; let i = index"
      class="wrapper"
    >
      <div
        class="bg-image image"
        [ngStyle]="{'background-image': 'url(' + block.medias[i] + ')'}"
      ></div>
      <div class="bg-image bg-filter"></div>
      <div
        routerLink="/library/collections/{{block.urls[i]}}"
        class="content"
        (click)="scrollToTop()"
      >
        <h3 class="title">{{block.texts_1[i]}}</h3>
        <p class="tags">{{block.texts_2[i]}}</p>
      </div>
    </div>
  </div>

  <div
    *ngIf="block.type == collectionBlockType.video"
    class="block block-video"
  >
    <div class="wrapper">
      <h3 class="title">{{block.title}}</h3>
      <span>{{block.texts_1.join(', ')}}</span>
      <div class="content pure-g">
        <div class="pure-u-1-2 description">
          <p>{{block.texts_2.join(' ')}}</p>
          <app-change-material-btn
            [addTitle]="'Добавить'"
            [removeTitle]="'Удалить'"
            [material]="block.materials[0]"
          ></app-change-material-btn>
          <button
            routerLink="/library/material/{{block.materials[0].alias}}"
            class="pure-button button-second"
          >Открыть</button>
        </div>
        <div
          *ngFor="let material of block.materials"
          class="pure-u-1-2 material"
        >
          <iframe
            [src]="material.media_video | safeYoutube"
            frameborder="0"
            allowfullscreen
          ></iframe>
          <p>{{material.title}}</p>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="block.type == collectionBlockType.video_short"
    class="block block-video"
  >
    <div class="wrapper">
      <div class="content pure-g">
        <div class="pure-u-1-2 description">
          <p class="subtitle">{{block.texts_1.join(' ')}}</p>
          <p>{{block.texts_2.join(' ')}}</p>
          <app-change-material-btn
            [addTitle]="'Добавить'"
            [removeTitle]="'Удалить'"
            [material]="block.materials[0]"
          ></app-change-material-btn>
          <button
            routerLink="/library/material/{{block.materials[0].alias}}"
            class="pure-button button-second"
          >Открыть</button>
        </div>
        <div
          *ngFor="let material of block.materials"
          class="pure-u-1-2 material"
        >
          <iframe
            [src]="material.media_video | safeYoutube"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="block.type == collectionBlockType.articles"
    class="block block-articles"
  >
    <div class="wrapper">
      <h3 class="title">{{block.title}}</h3>
      <p class="description">{{block.texts_1.join(' ')}}</p>
      <div class="content">
        <div
          *ngFor="let material of block.materials"
          class="material"
        >
          <div
            class="bg-image"
            [ngStyle]="{'background-image': 'url(' + material.media + ')'}"
          ></div>
          <div class="material-content">
            <div class="material-title">{{material.title}}</div>
            <div class="material-description">{{material.description}}</div>
            <app-change-material-btn
              [addTitle]="'Добавить'"
              [removeTitle]="'Удалить'"
              [material]="material"
            ></app-change-material-btn>
            <button
              routerLink="/library/material/{{material.alias}}"
              class="pure-button button-second"
            >Открыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="block.type == collectionBlockType.course"
    class="block block-course"
  >
    <div
      class="bg-image"
      [ngStyle]="{'background-image': 'url(' + block.background + ')'}"
    ></div>
    <div class="bg-image bg-filter"></div>
    <div class="wrapper">
      <div class="content">
        <h5>{{block.texts_1.join(' ')}}</h5>
        <h2 class="title">{{block.title}}</h2>
        <p
          *ngFor="let desc of block.texts_2"
          class="description"
        >{{desc}}</p>
        <div class="btns">
          <app-change-material-btn
            [addTitle]="'Добавить'"
            [removeTitle]="'Удалить'"
            [material]="block.materials[0]"
          ></app-change-material-btn>
          <button
            routerLink="/library/material/{{block.materials[0].alias}}"
            class="pure-button button-second"
          >Открыть</button>
        </div>
      </div>
    </div>
  </div>

