.back-btn {
  display: none;
  position: fixed;
  left: 20px;
  bottom: 20px;
  opacity: 0.6;
  padding: 20px;
  background-color: #ddd;
  z-index: 99;
  border-radius: 70px;
  cursor: pointer;
  height: 16px;
  width: 16px;

  i {
    color: #949494;
  }
}

.back-btn:hover {
  background-color: #999;
  
  i {
    color: #313131;
  }
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
