<div class="container">
  <div>books: {{backlogStats.books}}</div>
  <div>videos: {{backlogStats.videos}}</div>
  <div>courses: {{backlogStats.courses}}</div>
  <div>articles: {{backlogStats.articles}}</div>
  <div
    *ngFor="let material of backlogMaterials"
  >
    {{material.title}}
  </div>
  <a routerLink="/home/materials/backlog">backlog</a>

  <div>books: {{inProgressStats.books}}</div>
  <div>videos: {{inProgressStats.videos}}</div>
  <div>courses: {{inProgressStats.courses}}</div>
  <div>articles: {{inProgressStats.articles}}</div>
  <div
    *ngFor="let material of inProgressMaterials"
  >
    {{material.title}}
  </div>
  <a routerLink="/home/materials/inProgress">in-progress</a>

  <div>books: {{doneStats.books}}</div>
  <div>videos: {{doneStats.videos}}</div>
  <div>courses: {{doneStats.courses}}</div>
  <div>articles: {{doneStats.articles}}</div>
  <div
    *ngFor="let material of doneMaterials"
  >
    {{material.title}}
  </div>
  <a routerLink="/home/materials/done">done</a>
</div>