<h2>Add Collection block</h2>
<div *ngIf="newCollectionBlock">
  <label>title: <input [(ngModel)]="newCollectionBlock.title" name="title" placeholder="title" /></label> <br>
  <label>background: <input [(ngModel)]="newCollectionBlock.background" name="background" placeholder="background" /></label> <br>
  <label>order: <input [(ngModel)]="newCollectionBlock.order" name="order" placeholder="duration" /></label> <br>
  <!-- <label>description: <input [(ngModel)]="newCollectionBlock.description" name="description" placeholder="description" /></label> <br> -->
  <!-- <label>alias: <input [(ngModel)]="newCollectionBlock.alias" name="alias" placeholder="alias" /></label> <br> -->
  <label>type: <select name="type" [(ngModel)]="newCollectionBlock.type">
    <option value="" disabled>Choose a state</option>
    <option *ngFor="let type of CollectionBlocksTypes; let i = index" [ngValue]="i+1">{{type}}</option>
  </select></label><br>
  <label *ngIf="collectionsStatus && collectionsStatus.success && collectionsStatus.data">collection_id: <select name="collection_id" [(ngModel)]="newCollectionBlock.collection_id">
    <option value="" disabled>Choose a state</option>
    <option *ngFor="let collection of collectionsStatus.data" [ngValue]="collection.id">{{collection.title}}</option>
  </select></label><br>

  <label *ngIf="newCollectionBlock.texts_1 && newCollectionBlock.texts_1.length">texts_1:
    <span *ngFor="let text_1 of newCollectionBlock.texts_1">{{text_1}}</span>
  </label>
  <input
    [(ngModel)]="newRowText1"
    name="text_1"
    placeholder="text_1" />
  <button type="button" name="button" (click)="addRowTexts1()">add row</button><br>
  <label *ngIf="newCollectionBlock.texts_2 && newCollectionBlock.texts_2.length">texts_2:
    <span *ngFor="let text_2 of newCollectionBlock.texts_2">{{text_2}}</span>
  </label>
  <input
    [(ngModel)]="newRowText2"
    name="text_2"
    placeholder="text_2" />
  <button type="button" name="button" (click)="addRowTexts2()">add row</button><br>
  <label *ngIf="newCollectionBlock.medias && newCollectionBlock.medias.length">medias:
    <span *ngFor="let media of newCollectionBlock.medias">{{media}}</span>
  </label>
  <input
    [(ngModel)]="newRowMedia"
    name="media"
    placeholder="media" />
  <button type="button" name="button" (click)="addRowMedias()">add row</button><br>
  <!-- name="medias_{{i}}" -->

  <!-- <div *ngIf="categoriesStatus && categoriesStatus.success && categoriesStatus.data">
    <label>categories:
      <label *ngFor="let category of categoriesStatus.data">
        <input (click)='toggleCategory($event, category)' type='checkbox' name="categories" />{{category.title}} ,
      </label>
    </label>
  </div> -->
  <span
    (click)="showMaterials = !showMaterials"
  >Показать/Скрыть материалы</span>
  <div *ngIf="showMaterials">
    <div *ngIf="materialsStatus && materialsStatus.success && materialsStatus.data && materialsStatus.data.length">type:
      <label *ngFor="let material of materialsStatus.data">
        <input (click)='toggleMaterial($event, material)' type='checkbox' name="materials" />{{material.title}} ,
      </label>
    </div>
  </div>

  <br>
  <button (click)="addCollectionBlock()" type="button" name="button">Add</button>
</div>


<h2>Add Category</h2>
<div *ngIf="newCategory">
  <label>title: <input [(ngModel)]="newCategory.title" name="title" placeholder="title" /></label> <br>
  <label>media: <input [(ngModel)]="newCategory.media" name="media" placeholder="media" /></label> <br>
  <label>description: <input [(ngModel)]="newCategory.description" name="description" placeholder="description" /></label> <br>
  <label>alias: <input [(ngModel)]="newCategory.alias" name="alias" placeholder="alias" /></label> <br>
  <label>type: <select name="type" [(ngModel)]="newCategory.type">
    <option value="" disabled>Choose a state</option>
    <option *ngFor="let type of CatogotyTypes; let i = index" [ngValue]="i+1">{{type}}</option>
  </select></label>
  <button (click)="addCategory()" type="button" name="button">Add</button>
</div>

<h2>Add Material</h2>
<div *ngIf="newMaterial">
  <label>title: <input [(ngModel)]="newMaterial.title" name="title" placeholder="title" /></label> <br>
  <label>media: <input [(ngModel)]="newMaterial.media" name="media" placeholder="media" /></label> <br>
  <label>duration: <input [(ngModel)]="newMaterial.duration" type="number" name="duration" placeholder="duration" /></label> <br>
  <label>description: <textarea [(ngModel)]="newMaterial.description" name="description" placeholder="description"></textarea></label> <br>
  <label>alias: <input [(ngModel)]="newMaterial.alias" name="alias" placeholder="alias" /></label> <br>
  <label>type: <select name="type" [(ngModel)]="newMaterial.type">
    <option value="" disabled>Choose a state</option>
    <option *ngFor="let type of MaterialTypes; let i = index" [ngValue]="i+1">{{type}}</option>
  </select></label>
  <label>platform: <input [(ngModel)]="newMaterial.platform" name="platform" placeholder="platform" /></label> <br>
  <label>lang: <input [(ngModel)]="newMaterial.lang" name="lang" placeholder="lang" /></label> <br>
  <label>cost: <input [(ngModel)]="newMaterial.cost" type="number" name="cost" placeholder="cost" /></label> <br>
  <label>currency: <input [(ngModel)]="newMaterial.currency" name="currency" placeholder="currency" /></label> <br>
  <label>full_description: <input [(ngModel)]="newMaterial.full_description" name="full_description" placeholder="full_description" /></label> <br>
  <label>start_date: <input [(ngModel)]="newMaterial.start_date" type="date" name="start_date" placeholder="start_date" /></label> <br>
  <label>end_date: <input [(ngModel)]="newMaterial.end_date" type="date" name="end_date" placeholder="end_date" /></label> <br>

  <ul *ngIf="newMaterial.authors && newMaterial.authors.length">authors:
    <li *ngFor="let value of newMaterial.authors">{{value}}</li>
  </ul>
  <input
    [(ngModel)]="newRowAuthor"
    name="author"
    placeholder="author" />
  <button type="button" name="button" (click)="addRowAuthor()">add row</button><br>

  <ul *ngIf="newMaterial.authors_description && newMaterial.authors_description.length">authors_description:
    <li *ngFor="let value of newMaterial.authors_description">{{value}}</li>
  </ul>
  <input
    [(ngModel)]="newRowAuthorsDescription"
    name="authors_description"
    placeholder="authors_description" />
  <button type="button" name="button" (click)="addRowAuthorsDescription()">add row</button><br>

  <ul *ngIf="newMaterial.authors_media && newMaterial.authors_media.length">authors_media:
    <li *ngFor="let value of newMaterial.authors_media">{{value}}</li>
  </ul>
  <input
    [(ngModel)]="newRowAuthorsMedia"
    name="authors_media"
    placeholder="authors_media" />
  <button type="button" name="button" (click)="addRowAuthorsMedia()">add row</button><br>

  <ul *ngIf="newMaterial.tags && newMaterial.tags.length">tags:
    <li *ngFor="let value of newMaterial.tags">{{value}}</li>
  </ul>
  <input
    [(ngModel)]="newRowTag"
    name="tag"
    placeholder="tag" />
  <button type="button" name="button" (click)="addRowTag()">add row</button><br>

  <ul *ngIf="newMaterial.structure && newMaterial.structure.length">structure:
    <li *ngFor="let value of newMaterial.structure">{{value}}</li>
  </ul>
  <input
    [(ngModel)]="newRowStructure"
    name="structure"
    placeholder="structure" />
  <button type="button" name="button" (click)="addRowStructure()">add row</button><br>

  <div *ngIf="categoriesStatus && categoriesStatus.success && categoriesStatus.data">
    <label>categories:
      <label *ngFor="let category of categoriesStatus.data">
        <input (click)='toggleCategory($event, category)' type='checkbox' name="categories" />{{category.title}} ,
      </label>
    </label>
  </div>

  <!-- collections -->
  <div *ngIf="collectionsStatus && collectionsStatus.success && collectionsStatus.data">
    <label>collections:
      <label *ngFor="let collection of collectionsStatus.data">
        <input (click)='toggleCollection($event, collection)' type='checkbox' name="collections" />{{collection.title}} ,
      </label>
    </label>
  </div>
  
  <span
    (click)="showMaterials = !showMaterials"
  >Показать/Скрыть материалы</span>
  <div *ngIf="showMaterials">
    <div *ngIf="materialsStatus && materialsStatus.success && materialsStatus.data">
      <label>materials:
        <label *ngFor="let material of materialsStatus.data">
          <input (click)='toggleMaterialAttachement($event, material)' type='checkbox' name="materials" />{{material.title}} ,
        </label>
      </label>
    </div>
  </div>


  <button (click)="addMaterial()" type="button" name="button">Add</button>
</div>

<h2>Add Collection</h2>
<div *ngIf="newCollection">
  <label>title: <input [(ngModel)]="newCollection.title" name="title" placeholder="title" /></label> <br>
  <label>media: <input [(ngModel)]="newCollection.media" name="media" placeholder="media" /></label> <br>
  <label>description: <input [(ngModel)]="newCollection.description" name="description" placeholder="description" /></label> <br>
  <label>tags: <input [(ngModel)]="newCollection.tags" name="tags" placeholder="tags" /></label> <br>
  <label>alias: <input [(ngModel)]="newCollection.alias" name="alias" placeholder="alias" /></label> <br>
  <!-- <label>type: <select name="type" [(ngModel)]="newCollection.type">
    <option value="" disabled>Choose a state</option>
    <option *ngFor="let type of CatogotyTypes" [ngValue]="type">{{type}}</option>
  </select></label> -->
  <button (click)="addCollection()" type="button" name="button">Add</button>
</div>
