<div class="wrapper">
  <div
    *ngIf="reverse"
    class="media"
    [ngStyle]="{'background-image': 'url(' + collection.media + ')'}"
  ></div>
  <div class="content">
    <div class="title">{{collection.title}}</div>
    <div class="tags">{{collection.tags}}</div>
    <div class="materials-stat">
      <i *ngIf="collection.books" class="fa fa-book"></i>
      <span *ngIf="collection.books">{{getPluralForm(collection.books, 'book')}}</span>
      <i *ngIf="collection.videos" class="fa fa-youtube-play"></i>
      <span *ngIf="collection.videos">{{getPluralForm(collection.videos, 'video')}}</span>
      <i *ngIf="collection.courses" class="fa fa-graduation-cap"></i>
      <span *ngIf="collection.courses">{{getPluralForm(collection.courses, 'course')}}</span>
      <i *ngIf="collection.articles" class="fa fa-pencil"></i>
      <span *ngIf="collection.articles">{{getPluralForm(collection.articles, 'article')}}</span>
    </div>
    <p class="description">{{collection.description}}</p>
    <button
      routerLink="/library/collections/{{collection.alias}}"
      class="pure-button button-second btn"
    >подробнее</button>
  </div>
  <div
    *ngIf="!reverse"
    class="media"
    [ngStyle]="{'background-image': 'url(' + collection.media + ')'}"
  ></div>
</div>