.wrapper {
  width: 100%;
  display: flex;
  height: 400px;
  background-color: #fff;
  border: solid 1px #d6d6d6;
  margin: 0 0 3em 0;

  .content {
    padding: 2.5em 8em 2.5em 4em;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      color: #535353;
      font-size: 25px;
    }

    .tags {
      color: #929292;
      font-weight: 300;
      font-size: 16px;
      margin: 0.5em 0;
    }

    .materials-stat {
      max-width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: rgb(138, 138, 138);
      margin: 1em 0 0 0;

      i {
        font-size: 24px;
      }

      span {
        font-size: 14px;
        margin: 0 10px 0 5px;
        color: #444;
      }
    }

    .description {
      color: #606060;
      font-size: 18px;
      font-weight: 300;
    }

    .btn {
      text-transform: uppercase;
      color: #fff;
      background-color: #e57373;
      width: 130px;
      height: 36px;
    }
  }

  .media {
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center center;
  }
}