<div (click)="close(false)" class="window-overlay">
  <div (click)="stopProp($event)" class="wrapper">
    <div
      class="header"
      [ngStyle]="{'background-color': newSection.color}"
    ></div>
    <md-input-container class="full-width">
      <input
        mdInput
        placeholder="Название раздела"
        name="title"
        [(ngModel)]="newSection.title"
      >
    </md-input-container>
    <md-input-container class="full-width">
      <input
        mdInput
        placeholder="адресс раздела(alias)"
        name="alias"
        [(ngModel)]="newSection.alias"
      >
    </md-input-container>
    <p>Цвет</p>
    <div class="colors">
      <div
        (click)="setColor(_color)"
        [ngStyle]="{'background-color': _color}"
        *ngFor="let _color of colorsList"
      >
        <i *ngIf="newSection.color === _color" class="fa fa-check" aria-hidden="true"></i>
      </div>
    </div>
    <p class="error" *ngIf="error">{{error}}</p>
    <div class="btns">
      <button md-button class="cancel" (click)="close(false)">Отменить</button>
      <button md-button class="save" (click)="addSection()">Добавить</button>
    </div>
  </div>
</div>