.window-overlay {
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,.5);
  height: 100%;
  justify-content: center;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.wrapper {
  width: 300px;
  background-color: #fff;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;

  .header {
    height: 40px;
    margin: 0 -20px 20px -20px;
  }

  .full-width {
    width: 100%;
  }

  p {
    color: #606060;
  }

  .colors {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

    div {
      height: 23px;
      width: 31px;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  }

  .error {
    color: red;
    margin: 0 0 1em 0;
  }

  .btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .save {
      color: #e57373;
    }

    .cancel {
      color: #606060;
    }
  }
}

