<div class="wrapper">
  <h2>{{title}}</h2>
  <div class="header">
    <i class="fa fa-folder-o"></i>
    <span>{{count}} {{sectionWord}}</span>
    <span *ngIf="auto" class="padded">Создаются автоматически</span>
    <button
      *ngIf="!auto" class="padded"
      (click)="show()"
    >
      <i class="fa fa-plus-square"></i>
      <span>Создать новый</span>
    </button>
  </div>
</div>
