.wrapper {
  padding: 0 0 1.5em 1.1em;
}

h2 {
  color: #606060;
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  line-height: 50px;
}

.header {
  color: #929292;
  font-weight: 300;

  span {
    font-size: 0.875em;
  }

  i {
    font-size: 1.125em;
  }

  .padded {
    margin: 0 0 0 1em;
  }

  button {
    background: none;
    border: none;

    &:focus {
      outline: 0;
    }
  }
}
