.wrapper {
  background-color: #f7f6f6;
  min-height: 100vh;
  width: 100%;

  .message-block {
    display: block;
    width: 100%;
  }

  .inner {
    width: 1340px;
    display: flex;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 0 auto;

    .feed-header {
      height: 60px;
      display: flex;
      align-items: center;
      color: #606060;
      font-size: 20px;
      margin: 0 0 0 25px;
    }

    .materials {
      width: 660px;

      .header {
        background-color: rgba(62, 72, 109, 0.8);
        width: 100%;
        height: 45px;
        border-bottom: solid 1px #ebebeb;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        .element {
          height: 100%;
          display: flex;
          align-items: center;

          span {
            text-transform: uppercase;
            color: #ddd;
            font-size: 14px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            cursor: pointer;

            .fa {
              margin: 0 0 0 5px;
              font-size: 16px;
            }
          }

          span:hover {
            color: #eee;
          }

          .active {
            border-bottom: solid 2px #e57373;
            color: #fff;
            font-weight: 600;
          }

          .active:hover {
            color: #fff;
          }

        }
      }

      .turn-right {
        justify-content: flex-end;
      }
    }

    .details {
      margin: 60px 0 0 45px;
      // position: sticky;
      top: 10px;
      height: 100%;

      .category-block {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        width: 530px;
        background-color: #fff;

        .category-block-content {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .media-block {
          display: flex;
          justify-content: center;
          padding: 20px;
          box-sizing: border-box;

          .media {
            height: 130px;
            width: 130px;
            border-radius: 130px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          }
        }

        .content {
          padding: 20px 20px 20px 0px;
          box-sizing: border-box;

          .title {
            font-size: 22px;
            font-weight: 400;
            margin: 0;
            line-height: 40px;
            color: #606060;
          }

          .description {
            color: #929292;
            font-size: 15px;
            font-weight: 300;
            line-height: 1.5;
          }
        }

        .materials-stat {
          color: #5d5d5d;
          font-size: 13px;
          padding: 5px 20px 20px 20px;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .stat-block {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #5d5d5d;
            font-size: 13px;

            .fa {
              font-size: 20px;
              margin: 0 10px 0 0;
            }
          }

          .stat-block:hover {
            color: #e57373;
          }
        }
      }

      .communities-title {
        margin: 20px 0 0 25px;
        height: 60px;
        line-height: 60px;
        color: #606060;
        font-size: 18px;
        font-weight: 400;
      }

      .communities {
        position: relative;
        width: 530px;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;

        .community {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          height: 200px;
          padding: 20px 30px;
          box-sizing: border-box;
          text-align: center;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }

          .name {
            color: #444;
            font-size: 16px;
            font-weight: 300;
            margin: 10px 0;
          }

          .description {
            color: #929292;
            font-size: 14px;
            font-weight: 300;
          }


        }

        .show-all {
          width: 100%;
          height: 36px;
          margin: 0 0 15px 0;
          font-weight: 300;
          font-size: 14px;
          color: #929292;
          line-height: 36px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}