<div class="wrapper">

  <div
    *ngIf="infoPage"
    class="inner"
  >
    <app-empty-materials 
      class="message-block"
      [notAuthed]="infoPage"
    ></app-empty-materials>
  </div>

  <div
    *ngIf="materialsStatus && !materialsStatus.success"
    class="inner"
  >
    <app-empty-materials 
      class="message-block"
    ></app-empty-materials>
  </div>

  <div
    *ngIf="!infoPage && materialsStatus && materialsStatus.success"
    class="inner"
  >

    <div class="materials">
      <span
        *ngIf="!savedMaterialsPage"
        class="feed-header"
      >Лента</span>
      <span
        *ngIf="savedMaterialsPage"
        class="feed-header"
      >Последние добавления</span>
      <div
        [class.turn-right]="savedMaterialsPage"
        class="header z-depth-1"
      >
        <div
          *ngIf="!savedMaterialsPage"
          class="element"
        >
          <span
            [class.active]="sortContentByRating"
            (click)="loadContent(true)"
          >Популярное</span>
          <span
            [class.active]="!sortContentByRating"
            (click)="loadContent(false)"
          >Свежее</span>
        </div>
        <div
          class="element"
          *ngIf="tabs && tabs[1] && tabs[1].url"
          routerLink="{{tabs[1].url}}"
        >
          <span>
            Каталог
            <i class="fa fa-th"></i>
          </span>
        </div>
      </div>

      <div
        *ngIf="materialsStatus && materialsStatus.success"
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="300"
        (scrolled)="onScroll()"
      >
        <app-category-live-block
          *ngFor="let material of cuttedMaterials"
          [material]="material"
          (onMaterialStatusChanged)="init()"
        ></app-category-live-block>
      </div>
    </div>
    
    <div class="details">


      <div
        *ngIf="category"
        class="category-block z-depth-1"
      > 
        <div class="category-block-content">
          <div class="media-block">
            <div
              *ngIf="category.media"
              [ngStyle]="{'background-image': 'url(' + category.media + ')'}"
              class="media"
            ></div>
          </div>
          <div class="content">
            <h2
              *ngIf="!savedMaterialsPage"
              class="title"
            >{{category.title}}</h2>
            <h2
              *ngIf="savedMaterialsPage"
              class="title"
            >Мои материалы</h2>
            <div
              *ngIf="!savedMaterialsPage"
              class="description"
            >{{category.description}}</div>
            <div
              *ngIf="savedMaterialsPage"
              class="description"
            >Здесь хранятся материалы, которые вы добавили из библиотеки.</div>
          </div>
        </div>
        <div class="materials-stat">
          <a
            class="stat-block"
            routerLink="/library/{{byPlatform ? 'platforms' : 'categories'}}/{{category.alias}}/catalog/book" 
          >
            <i class="fa fa-book"></i>
            <span>{{getPluralForm(category.books, 'book')}}</span>
          </a>
          <a
            class="stat-block"
            routerLink="/library/categories"
            routerLink="/library/{{byPlatform ? 'platforms' : 'categories'}}/{{category.alias}}/catalog/video" 
          >
            <i class="fa fa-youtube-play"></i>
            <span>{{getPluralForm(category.videos, 'video')}}</span>
          </a>
          <a
            class="stat-block"
            routerLink="/library/categories"
            routerLink="/library/{{byPlatform ? 'platforms' : 'categories'}}/{{category.alias}}/catalog/course" 
          >
            <i class="fa fa-graduation-cap"></i>
            <span>{{getPluralForm(category.courses, 'course')}}</span>
          </a>
          <a
            class="stat-block"
            routerLink="/library/categories"
            routerLink="/library/{{byPlatform ? 'platforms' : 'categories'}}/{{category.alias}}/catalog/article" 
          >
            <i class="fa fa-pencil"></i>
            <span>{{getPluralForm(category.articles, 'article')}}</span>
          </a>
        </div>
      </div>

      <app-category-live-tags
        *ngIf="category && tags?.length"
        [tags]="tags"
        [categoryAlias]="category.alias"
        [title]="'Основные тематики'"
        [addedMaterials]="savedMaterialsPage"
        [byPlatform]="byPlatform"
      ></app-category-live-tags>
      <app-category-live-tags
        *ngIf="category && platforms?.length"
        [tags]="platforms"
        [categoryAlias]="category.alias"
        [title]="'Источники материалов'"
        [addedMaterials]="savedMaterialsPage"
        [byPlatform]="byPlatform"
      ></app-category-live-tags>

      <h3
        *ngIf="category?.communities_name?.length"
        class="communities-title"
      >Тематические сообщества</h3>
      <div
        *ngIf="category?.communities_name?.length"
        class="communities z-depth-1"
      >
        <template ngFor let-el [ngForOf]="category.communities_name" let-i="index">
          <a
            *ngIf="showAll || i < 4"
            class="community"
            href="{{category.communities_source[i]}}"
            target="_blank"
            rel="noreferrer"
          >
            <img src="{{category.communities_media[i]}}" alt="">
            <span class="name">{{category.communities_name[i]}}</span>
            <span class="description">{{category.communities_description[i]}}</span>
          </a>
        </template>
        <div
          *ngIf="category.communities_name.length > 4"
          class="show-all"
          (click)="showAll = !showAll"
        >{{showAll ? 'Скрыть' : 'Показать все (' + (category.communities_name.length - 4) + ')'}}</div>
      </div>

    </div>
  </div>
</div>