<div class="wrapper">
  <button
    *ngIf="!authService.authenticated()"
    class="pure-button button-university"
    (click)="authService.login()"
    [ngStyle]="{'background-color': addColor}"
  >{{addTitle}}</button>
  <button
    *ngIf="material && authService.authenticated() && !material.added"
    (click)="addToUser()"
    [ngStyle]="{'background-color': addColor}"
    class="pure-button button-university"
  >{{addTitle}}</button>
  <button
    *ngIf="showShortChange()"
    class="pure-button button-university"
    [ngStyle]="{'background-color': removeColor}"
    (click)="removeFromUser(material)"
  >{{removeTitle}}</button>

  <button
    *ngIf="showShortChange() && false"
    (click)="toggleChange()"
    [ngStyle]="{'background-color': removeColor}"
    class="pure-button button-university"
  >Изменить</button>
  <div
    *ngIf="showFullChange()"
    class="change-full"
  >
    <button
      class="pure-button button-university"
      [ngStyle]="{'background-color': getColor(materialType.backlog)}"
      (click)="changeStatus(materialType.backlog)"
    >backlog</button>
    <button
      class="pure-button button-university"
      [ngStyle]="{'background-color': getColor(materialType.inProgress)}"
      (click)="changeStatus(materialType.inProgress)"
    >inProgress</button>
    <button
      class="pure-button button-university"
      [ngStyle]="{'background-color': getColor(materialType.done)}"
      (click)="changeStatus(materialType.done)"
    >done</button>
    <button
      class="pure-button button-university"
      [ngStyle]="{'background-color': removeColor}"
      (click)="removeFromUser(material)"
    >{{removeTitle}}</button>
    <button
      *ngFor="let section of sections"
      class="pure-button button-university"
      [ngStyle]="{'background-color': section.color}"
      (click)="addToSection(section)"
    >{{section.title}}</button>
  </div>
</div>
