.wrapper {
  position: relative;
  display: inline-block;

  .change-full {
    display: inline-block;
    position: absolute;
    // flex-direction: column;

    button {
      width: 100%;
      display: block;
    }
  }
}