<div 
  *ngIf="
    collectionStatus &&
    collectionStatus.success &&
    collectionStatus.data.blocks &&
    collectionStatus.data.blocks.length
  "
>
  <template ngFor let-block [ngForOf]="collectionStatus.data.blocks" let-i="index">
    <app-collection-block
      [block]="block"
    ></app-collection-block>
  </template>


</div>

<div *ngIf="collectionStatus && !collectionStatus.success">
  {{collectionStatus.msg}}
</div>
