<div class="container">
  <div *ngIf="userSectionsStatus && userSectionsStatus.success">
    <app-sections-header
      [title]="'Пользовательские разделы'"
      [count]="userSectionsStatus.data.length"
      [(showAddSection)]="showAddSection"
    ></app-sections-header>

    <div class="pure-g">
      <template ngFor let-section [ngForOf]="userSectionsStatus.data" let-i="index">
        <app-section-block
          [section]="section"
          class="pure-u-1-5"
        ></app-section-block>
      </template>
    </div>
  </div>

  <div *ngIf="generatedSectionsStatus && generatedSectionsStatus.success">
    <app-sections-header
      [title]="'Университетские разделы'"
      [count]="generatedSectionsStatus.data.length"
      [auto]="true"
    ></app-sections-header>
    <div class="pure-g">
      <template ngFor let-section [ngForOf]="generatedSectionsStatus.data" let-i="index">
        <app-section-block
          [section]="section"
          [auto]="true"
          class="pure-u-1-5"
        ></app-section-block>
      </template>
    </div>
  </div>
</div>


<app-add-section
  *ngIf="showAddSection"
  (onClose)="onClose($event)"
></app-add-section>
