.submedia-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #606060;
  font-size: 16px;
  margin-bottom: 15px;

  .submedia-name {
    font-weight: 400;
    width: 150px;
  }

  .submedia-value {
    font-weight: 300;
  }
 
  .fa {
    margin-right: 14px;
    font-size: 18px;
  }
}


