<div class="wrapper">
  <div
    *ngIf="categoriesByThemes && categoriesByThemes.success && categoriesByPlatform && categoriesByPlatform.success"
    class="inner container"
  >
    <div
      *ngIf="categoriesByThemes.data && categoriesByThemes.data.length"
      class="categories-wrapper"
    >
      <div class="header">
        <h2>По тематикам</h2>
        <span>
          {{themsLength}}
        </span>
      </div>
      <div class="categories">
        <template ngFor let-category [ngForOf]="categoriesByThemes.data" let-i="index">
          <app-category-block
            class="category"
            [category]="category"
          ></app-category-block>
        </template>
      </div>
    </div>

     <div
      *ngIf="categoriesByPlatform.data && categoriesByPlatform.data.length"
      class="categories-wrapper"
    >
      <div class="header">
        <h2>По площадкам</h2>
        <span>
          {{platformsLength}}
        </span>
      </div>
      <div class="categories">
        <template ngFor let-category [ngForOf]="categoriesByPlatform.data" let-i="index">
          <app-category-block
            class="category"
            [category]="category"
          ></app-category-block>
        </template>
      </div>
    </div>
  </div>

  <div class="contacts">
    <div class="email">
      <i class="fa fa-envelope"></i>
      <a href="mailto:feedback@u-know.ru">feedback@u-know.ru</a>
    </div>
    <div class="vk">
      <i class="fa fa-vk"></i>
      <a
        href="https://vk.com/u_know_ru"
        target="_blank"
        ref="noreferrer"
      >You Know</a>
    </div>
  </div>

  <div *ngIf="categoriesByThemes && !categoriesByThemes.success">
    Ошибка <strong *ngIf="categoriesByThemes.msg">{{categoriesByThemes.msg}}</strong>
  </div>
  <div *ngIf="categoriesByPlatform && !categoriesByPlatform.success">
    Ошибка <strong *ngIf="categoriesByPlatform.msg">{{categoriesByPlatform.msg}}</strong>
  </div>
</div>