.wrapper {
  background-color: #f7f6f6;
  width: 100%;
  
  .inner {
    padding: 20px 70px 0 70px;
    box-sizing: border-box;
 

    .header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 60px;
      box-sizing: border-box;
      
      h2 {
        line-height: 40px;
        font-size: 19px;
        color: #7a7a7a;
        font-weight: 400;
        margin: 0 20px 5px 0;
      }

      span {
        font-size: 14px;
        color: #c0c0c0;
        text-transform: lowercase;
      }
    }

    .categories {
      display: flex;
      flex-wrap: wrap;
      
      .category {
        width: 50%;
      }
    }
  }

  .contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
    margin-top: 30px;
    height: 80px;

    .email, .vk {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: #777777;
      margin-right: 20px;

      a {
        color: #777777;
      }

      i {
        margin-right: 7px;
      }
    }
  }
}
