.wrapper {
  background-color: #f7f6f6;
  min-height: 100vh;
}

.material-wrapper {
  /*width: 85%;*/
  /*margin: 0 auto;*/
  width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}

.main-column {
  display: flex;
  flex-direction: column;
  width: 875px;
  margin-top: 45px;

  .material-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;

    .book-img-wrapper {
      // display: flex;
      width: 320px;
      padding: 2em 0;
      
      img {
        max-height: 20em;
        margin: 0 auto;
      }
    }

    .media-wrapper-video {
      width: 100%;
      margin-top: 30px;
    }

    .info-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 25px;
      box-sizing: border-box;
      margin-left: 25px;

      .title {
        margin: 1em 0 5px 0;
        font-size: 26px;
        color: #232323;
      }

      .authors {
        margin: 10px 0;
        font-size: 16px;
        color: #606060;
      }

      .tags {
        margin: 5px 0 20px 0;
        color: #aaaaaa;
        font-size: 16px;
        font-weight: 300;
      }

      .buttons-group {
        display: flex;
        flex-direction: row;

        .source {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 25px;
          background-color: #fff;
          border: 1px solid #989898;
          padding: 0 13px;
          color: #444444;
          font-size: 14px;
          box-sizing: border-box;
          text-decoration: none;
          border-radius: 2px;

          p {
            margin: 0;
          }

          i {
            margin-left: 8px;
            line-height: 20px;
          }
        }

        .source:hover {
          cursor: pointer;
          background-color: #f5f5f5;
        }

        .source:active {
          box-shadow: 0 0 0 1px rgba(222, 222, 222, 0.15) inset, 0 0 6px rgba(154, 154, 154, 0.2) inset;
          border: 1px solid #d4d2d2;
        }

        .attach-materials {
          display: fixed;
          
          button {
            height: 35px;
          }
        }

        .views {
          margin: 0 0 0 15px;
          display: flex;
          align-items: center;
          color: #aaa;
          font-size: 14px;

          .fa {
            font-size: 14px;
            margin: 0 7px 0 0;
          }
        }
      }

      .line {
        height: 1px;
        background-color: #ebebeb;
        opacity: .7;
        margin: 25px 0 20px 0;
        border: none;
      }

      .secondary {
        color: #606060;
        
        .description {
          margin: 0;
          font-size: 16px;
        }

        .description-content {
          font-weight: 300;
          line-height: 1.5;
          margin: 0;
          font-size: 16px;
        }
      }
    }

    .info-wrapper-book {
      width: 555px;
      margin-left: 0;
    }

    .img-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 2em 0;

      img {
        margin: 0 auto;
        max-width: 100%;
        height: auto;
      }
    }
  }

  .material-card-book {
    display: flex;
    flex-direction: row;
  }

  .categories-background {
    width: 100%;
    margin-bottom: 40px;

    .categories-title {
      font-size: 18px;
      color: #929292;
      margin-bottom: 8px;
      margin-left: 20px;
    }
    
    .categories-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      width: 875px;
      background-color: #fff;
      border-radius: 2px;
      box-sizing: border-box;
      padding: 30px 0;

      .categories-content {
        display: flex;
        flex-direction: column;

        .category {
          margin-bottom: 17px;
        }
      }
    }
  }
}

.material-additional-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 425px;
  padding-left: 20px;
  box-sizing: border-box;

  .submedia-title {
    font-size: 18px;
    color: #929292;
    margin-bottom: 8px;
    padding-left: 15px;
    width: 100%;
    box-sizing: border-box;
  }

  .buy-content {
    background-color: #fff;
    padding: 10px 0;
    box-sizing: border-box;
  }

  .submedia-content {
    display: flex;
    width: 405px;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .submedia-information {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 5px 20px;
    box-sizing: border-box;

    .line {
      height: 1px;
      background-color: #ebebeb;
      opacity: .7;
      margin: 5px 0;
      border: none;
      width: 100%;
    }

    .secondary {
      color: #606060;
      font-size: 16px;
      
      .description {
        margin: 15px 0 0 0;
      }

      .description-content {
        font-weight: 300;
        line-height: 1.5;
      }

      .structure-list {
        padding: 0 0 0 18px;
      }
    }
  }

  .submedia-content-course .submedia-row {
    width: 50%;
    font-size: 0.875em;
  }

  .submedia-row {
    width: 100%;
    color: #7a7a7a;
    font-size: 1.125em;

    padding: 0.5em 0;
  }

  .submedia-row .fa {
    margin-right: 0.5em;
  }

  /*.submedia-value {
    color: #7a7a7a;
    font-size: 1.125em;
    font-weight: 300;
  }*/

  .buy-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buy-column p {
    font-size: 0.875em;
    color: #aaaaaa;
    font-weight: 300;
  }

  .buy-column .button-cost {
    background-color: #eee;
    margin: 5px 0;
  }
}

.authors-background {
  background-color: #f7f6f6;
  padding: 3em 0;

}

.structure-background {
  padding: 3em 0;
}

.structure-item {
  /*text-align: center;*/
  color: #7a7a7a;
  font-size: 1.250em;
}

.structure-item div {
  list-style-type: circle;
  list-style-type: square;
  list-style-type: disc;
  display: list-item;
}

.authors-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 25px;
  box-sizing: border-box;

  .authors-title {
    font-size: 16px;
    color: #606060;
    margin: 0 0 15px 0;
  }

  .authors-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px 0 0;
    box-sizing: border-box;
  }

  .author-block {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-bottom: 25px;
  }

  .author-img {
    display: flex;
    height: 100%;
    align-items: center;

    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
  }

  .author-content {
    padding: 0 0 0 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .author-title {
    font-size: 16px;
    color: #444444;
    margin: 0;
  }

  .author-description {
    font-size: 13px;
    font-weight: 300;
    color: #aaa;
    margin: 5px 0 0 0;
    max-height: 76px;
    overflow: hidden;
  }
}


// .category-block {
//   /*background: no-repeat center center fixed;*/
//   background-size: cover;
//   height: 11em;
//   border-radius: 4px;
//   color: white;
//   position: relative;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   flex-direction: column;
//   z-index: 1;
//   padding: 2em 0;
//   box-sizing: border-box;
// }

// .category-block a {
//   z-index: 3;
//   color: white;
//   font-size: 0.813em;
//   text-decoration: none;
// }

// .overlap {
//   border-radius: 4px;
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(20, 20, 20, 0.68);
//   z-index: 2;
// }

// .category-title {
//   font-size: 1.063em;
//   z-index: 3;
// }

// .category-counts {
//   z-index: 3;
//   display: flex;
//   justify-content: space-around;
// }

// .category-counts p {
//   margin: 0 0.4em;
// }

// .category-counts span {
//   font-size: 0.750em;
//   margin: 0 0.2em 0 0;
// }

// .category-counts i {
//   font-size: 1em;
// }
