<div *ngIf="material" class="wrapper">
  <div class="material-wrapper">
      <!-- [class.pure-u-11-24]="material.book || material.article"
      [class.pure-u-10-24]="material.video || material.course" -->
    <div class="main-column">
      <div 
        class="material-card z-depth-1"
        [class.material-card-book]="material.book"
      >
        <div 
          *ngIf="material.book"
          class="book-img-wrapper"
        >
          <img
            class="pure-img"
            src="{{material.media}}"
            alt=""
          >
        </div>
        <div  
          class="info-wrapper"
          [class.info-wrapper-book]="material.book"
        >
          <div class="title">{{material.title}}</div>
          <div
            *ngIf="material.book && material.authors.length"
            class="authors"
          >
            <span>{{material.authors.join(", ")}}</span>
          </div>
          <div class="tags" *ngIf="material.tags.length">
            <span>{{material.tags.join(", ")}}</span>
          </div>

          <div class="buttons-group">
            <app-change-material-btn
              [material]="materialStatus.data"
              (onChanged)="onChanged($event)"
            ></app-change-material-btn>
            <a
              *ngIf="!material.book && material.source" 
              class="source"
              href="{{material.source}}"
              target="_blank"
              rel="noreferrer"
            >
              <p>
                Перейти к источнику
              </p>
              <i class="fa fa-external-link"></i>
            </a>
            <button
              *ngIf="isAdmin"
              class="pure-button button-second button-margin-left"
              (click)="showAttach = !showAttach"
            >Attach</button>

            <span class="views">
              <i class="fa fa-eye"></i>
              {{material.rating}}
            </span>
              <!--[ngStyle]="{'background-color': materialInner.color}"-->
          </div>

          <hr 
            *ngIf="material.book"
            class='line'
          >
          <div 
            class="secondary"
            *ngIf="material.book" 
          >
            <p class="description">Описание</p>
            <p class="description-content" [innerHTML]="material.description"></p>
          </div>

        </div>
        <div 
          *ngIf="material.video"
          class="media-wrapper-video"
        >
          <div class="videoWrapper">
            <iframe
              [src]="material.media_video | safeYoutube"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div 
          *ngIf="material.article || material.course"
          class="img-wrapper"
        >
          <img
            src="{{material.media}}"
            alt=""
          >
        </div>
        <div 
          *ngIf="showAttach"
          class="attach-materials"
        >
          <button
            *ngFor="let materialInner of materials"
            class="pure-button button-university"
            (click)="toggleAttachment(materialInner)"
          >{{materialInner.title}}</button>
        </div>
        <div 
          class="authors-wrapper"
          *ngIf="material && material.course && material.courseAuthors  && material.courseAuthors.length"
        >
          <p class="authors-title">Преподаватели</p>
          <div class="authors-block">
            <template ngFor let-author [ngForOf]="material.courseAuthors" let-i="index">
              <div class="author-block">
                <div class="author-img">
                  <img src="{{author.media}}" alt="">
                </div>
                <div class="author-content">
                  <p class="author-title">{{author.name}}</p>
                  <p class="author-description">{{author.description}}</p>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
      <div
        *ngIf="material && material.materials?.length"
        class="categories-background"
      >
        <p class="categories-title">Материалы близкие по тематике</p>
        <div class="categories-wrapper z-depth-1">
          <template ngFor let-attachMaterial [ngForOf]="material.materials" let-i="index">
              <!--[color]="color"
              [status]="status"-->
            <app-material-block
              [material]="attachMaterial"
              (onMaterialChanged)="onMaterialChanged($event)"
            ></app-material-block>
            <!--<div class="pure-u-1-24"></div>
            <div
              class="pure-u-5-24 category-block"
              [ngStyle]="{'background-image': 'url(' + attachMaterial.media + ')'}"
            >
              <div class="overlap"></div>
              <div class="category-title">{{attachMaterial.title}}</div>
              <a routerLink="/materials/{{attachMaterial.alias}}">Открыть</a>-->
              <!-- <p>{{category.description}}</p> -->
              <!-- <p *ngIf="category.books">Книги: {{category.books}}</p>
              <p *ngIf="category.videos">Видео: {{category.videos}}</p>
              <p *ngIf="category.courses">Курсы: {{category.courses}}</p>
              <p *ngIf="category.articles">Статьи: {{category.articles}}</p> -->
            <!--</div>-->
            <!--<div *ngIf="i+1 === material.materials.length" class="pure-u-1-24"></div>-->
          </template>
        </div>
      </div>
    </div>
    <div class="material-additional-cards">   
      <p *ngIf="material.book && material.links && material.links.length" class="submedia-title">Купить книгу</p>
      <div 
        *ngIf="material.book && material.links && material.links.length" 
        class="submedia-content buy-content z-depth-1"
      >
        <div class="buy-column">
          <p>Печатная версия</p>
        </div>
        <div class="buy-column">
          <a
            *ngFor="let link of material.links; let i = index"
            class="pure-button button-cost"
            href="{{link}}"
            rel="noreferrer"
            target="_blank"
          >{{material.links_name[i]}}</a>
        </div>
      </div>
      <p *ngIf="material.video" class="submedia-title">Информация о видео</p>
      <p *ngIf="material.course" class="submedia-title">Информация о курсе</p>
      <p *ngIf="material.article" class="submedia-title">Информация о статье</p>
      <div
        *ngIf="!material.book"
        class="submedia-content submedia-information z-depth-1"
        [class.submedia-content-course]="material.course"
      >
        <app-submedia-row
          *ngIf="!material.course && material.authors && material.authors.length"
          [course]="material.course"
          [value]="material.authors.join(', ')"
          [name]="'Автор'"
          [icon]="'user'"
        ></app-submedia-row>
        <app-submedia-row
          *ngIf="material.platform"
          [course]="material.course"
          [value]="material.platform"
          [name]="'Платформа'"
          [icon]="'building-o'"
        ></app-submedia-row>
        <app-submedia-row
          *ngIf="!material.article && material.duration"
          [course]="material.course"
          [value]="material.duration"
          [name]="'Длительность'"
          [icon]="'clock-o'"
        ></app-submedia-row>
        <app-submedia-row
          *ngIf="material.course && material.lang"
          [course]="material.course"
          [value]="material.lang"
          [name]="'Язык'"
          [icon]="'language'"
        ></app-submedia-row>
        <app-submedia-row
          *ngIf="material.course && material.cost"
          [course]="material.course"
          [value]="material.cost"
          [name]="'Стоимость'"
          [icon]="'rub'"
        ></app-submedia-row>
        <hr class='line'>
        <div class="secondary">
          <p class="description">Краткое описание</p>
          <p class="description-content" [innerHTML]="material.description"></p>
        </div>
        <template [ngIf]="material && material.course && material.structure && material.structure.length">
          <hr class='line'>
          <div class="secondary">
            <p class="description">Структура курса</p>
            <ul class="structure-list">
              <template ngFor let-item [ngForOf]="material.structure" let-i="index">
                <li class="description-content">{{item}}</li>
              </template>
            </ul>
          </div>
        </template>
      </div>
      <p *ngIf="material && material.categories.length" class="submedia-title">В разделах и подборках участвует</p>
      <div 
        *ngIf="material && material.categories.length"
        class="submedia-content"
      >
        <template ngFor let-category [ngForOf]="material.categories" let-i="index">
          <app-category-block
            class="category"
            [category]="category"
            [short]="'true'"
          ></app-category-block>
                        
          <!-- <div
            class="category-block"
            [ngStyle]="{'background-image': 'url(' + category.media + ')'}"
          >
            <div class="overlap"></div>
            <div class="category-title">{{category.title}}</div>
            <div class="category-counts">
              <p *ngIf="category.courses">
                <i class="fa fa-graduation-cap"></i>
                <span>{{category.courses}}</span>
              </p>
              <p *ngIf="category.books">
                <i class="fa fa-book"></i>
                <span>{{category.books}}</span>
              </p>
              <p *ngIf="category.articles">
                <i class="fa fa-star"></i>
                <span>{{category.articles}}</span>
              </p>
              <p *ngIf="category.videos">
                <i class="fa fa-television"></i>
                <span>{{category.videos}}</span>
              </p>
            </div>
            <a routerLink="/library/categories/{{category.alias}}">Открыть</a> -->
            <!-- <p>{{category.description}}</p> -->
            <!-- <p *ngIf="category.books">Книги: {{category.books}}</p>
            <p *ngIf="category.videos">Видео: {{category.videos}}</p>
            <p *ngIf="category.courses">Курсы: {{category.courses}}</p>
            <p *ngIf="category.articles">Статьи: {{category.articles}}</p> -->
          <!-- </div> -->
          <!-- <div *ngIf="i+1 === material.categories.length" class="pure-u-1-24"></div> -->
        </template>
        <template ngFor let-category [ngForOf]="material.collections" let-i="index">
          <!-- TODO:HI *ngIf="category.alias" IS TRAP -->
          <app-category-block
            class="category"
            [category]="category"
            [short]="'true'"
            [isCollection]="'true'"
          ></app-category-block>
          
          <!-- <div
            *ngIf="category.alias"
            class="pure-u-5-24 category-block"
            [ngStyle]="{'background-image': 'url(' + (category.media ? category.media : 'https://angular.io/resources/images/logos/angular2/angular.svg') + ')'}"
          >
            <div class="overlap"></div>
            <div class="category-title">{{category.title}}</div>
            <div class="category-counts">
              <p *ngIf="category.courses">
                <i class="fa fa-graduation-cap"></i>
                <span>{{category.courses}}</span>
              </p>
              <p *ngIf="category.books">
                <i class="fa fa-book"></i>
                <span>{{category.books}}</span>
              </p>
              <p *ngIf="category.articles">
                <i class="fa fa-star"></i>
                <span>{{category.articles}}</span>
              </p>
              <p *ngIf="category.videos">
                <i class="fa fa-television"></i>
                <span>{{category.videos}}</span>
              </p>
            </div>
            <a routerLink="/library/collections/{{category.alias}}">Открыть</a>
          </div>
          <div *ngIf="i+1 === material.categories.length" class="pure-u-1-24"></div> -->
        </template>
      </div>
    </div>
  </div>
</div>


