.wrapper {
  margin: 0 1em 1.5em 1em;
  background-color: #f7f6f6;
  max-height: 20em;
  padding: 0 1em 1em 1em;
  box-sizing: border-box;
  width: 240px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 2em;
    box-sizing: border-box;

    .header-type {
      color: #e57373;
      font-size: 14px;
    }

    .header-block {
      display: flex;
      align-items: center;
    }

    .header-title {
      color: #aaaaaa;
      font-size: 14px;
      max-width: 130px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    i {
      font-size: 20px;
      right: 0;
      margin: 0 0 0 5px;
      color: #c0c0c0;
    }
  }

  .media-wrapper {
    text-align: center;
    height: 8em;
    margin: 0 -1em;
    overflow: hidden;
    
    img {
      object-fit: cover;
      max-height: 8em;
      max-width: 100%;
      width: 100%;
      transition: all ease-in-out .25s;
      cursor: pointer;
    }
    
    .book {
      width: auto;
      max-width: 50%;
    }
  }

  .media-wrapper:hover img {
    transform: scale(1.05);
  }

  .title {
    color: #2f2f2f;
    font-size: 1em;
    line-height: 1.2em;
    height: 3.6em;
    overflow : hidden;
    text-overflow: ellipsis;
    margin: 0.5em 0;
    cursor: pointer;
  }

  .title:hover {
    text-decoration: underline;
  }

  .sub-title {
    color: #989898;
    font-size: 0.813em;
    margin: 0.5em 0;
    line-height: 1.2em;
    overflow : hidden;
    height: 2.4em;
  }

  .controls-wrapper {
    box-sizing: border-box;
    
    :first-child {
      margin: 0 0.5em 0 0;
    }
  }
}


.extended {
  max-height: 40em;
  width: 260px;

  .title {
    font-size: 20px;
    line-height: 1.55;
    font-weight: 600;
    height: auto;
  }

  .media-wrapper {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .description {
    margin: 0 0 15px 0;
  }
}