<div
  class="wrapper z-depth-1"
  [class.extended]="extended"
>
  <div
    class="header"
  >
    <span class="header-type">{{material.typeNameRu}}</span>
    <div class="header-block">
      <span class="header-title">{{material.platform}}</span>
      <i
        *ngIf="material.book"
        class="fa fa-book"></i>
      <i
        *ngIf="material.video"
        class="fa fa-youtube-play"></i>
      <i
        *ngIf="material.course"
        class="fa fa-graduation-cap"></i>
      <i
        *ngIf="material.article"
        class="fa fa-pencil"></i>
    </div>
  </div>

  <div 
    class="media-wrapper"
    routerLink="/library/material/{{material.alias}}"
  >
    <img
      [class.book]="material.book"
      src="{{material.media || 'http://the-flow.ru/uploads/images/resize/830x0/adaptiveResize/13/30/13/97/37/xb2b007f40cd7.jpg.pagespeed.ic.1fEr4QLQw0.webp'}}"
      alt=""
    >
  </div>

  <div 
    class="title"
    routerLink="/library/material/{{material.alias}}"
    >{{material.title}}</div>

  <div
    *ngIf="material.authors"
    class="sub-title"
  >{{material.authors ? material.authors.join(', ') : ''}}</div>

  <div
    *ngIf="extended"
    class="description"
  >{{material.description}}</div>
  <div class="controls-wrapper">
    <app-change-material-btn
      [addTitle]="'Добавить'"
      [removeTitle]="'Удалить'"
      [material]="material"
      [sections]="sections"
      [addColor]="color"
      [status]="status"
      (onChanged)="onMaterialChanged.emit($event)"
    ></app-change-material-btn>
    <button
      routerLink="/library/material/{{material.alias}}"
      class="pure-button button-second"
    >Открыть</button>
  </div>
</div>
