.message-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  
  .message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 740px;
    height: 500px;
    background-color: #fff;
    padding: 35px 0 37px 0;
    box-sizing: border-box;
    border-radius: 20px;

    p {
      font-weight: 300;
      font-size: 16px;
      color: #606060;
      margin: 0;
    }
  }
}