
<div class="message-block">
  <div class="message z-depth-1">
    <p class="first-paragraph" *ngIf="!notAuthed">
      Храните материалы, которые вам понравились
    </p>
    <p class="first-paragraph" *ngIf="notAuthed">
      Авторизируйтесь, чтобы хранить здесь понравившиеся материалы
    </p>
    <img src="https://image.ibb.co/mGU9Ra/image.png" />
    <p class="second-paragraph">
      Если у материала нажать на кнопку "Добавить", то он автоматически здесь появится
    </p>
  </div>
</div>
