.wrapper {
  position: relative;
  margin: 0 40px 40px 40px;
  background-color: #fff;
  height: 210px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all ease-in-out .25s;

  .header {
    width: 160px;
    height: 160px;
    background-size: cover;
    background-position: center center;
    transition: all ease-in-out .25s;
    border-radius: 50%;
    margin: 0 20px 0 0;
    flex: 0 0 160px;
  }

  .content {
    width: 285px;

    .title {
      color: #7a7a7a;
      font-size: 22px;
      font-weight: 400;
      margin: 0;
    }

    .description {
      font-size: 14px;
      color: #aaa;
      text-align: start;
      overflow: hidden;
      line-height: 1.3;
    }

    .materials-stat {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #929292;
      margin: 0 0 0 2px;

      span {
        font-size: 12px;
        margin: 0 20px 0 0;
      }

      .fa {
        margin: 0 5px 0 0;
      }
    }
  }
}

.wrapper:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);

  .header {
    transform: scale(1.05);
  }
}

.short {
  margin: 0;
  background-color: #fff;
  height: 140px;
  padding: 20px;
  margin-bottom: 10px;
  
  .header {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 20px 0 0;
    flex: 0 0 100px;
  }

  .content {
    width: 245px;

    .title {
      color: #606060;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
    }

    .description {
      font-size: 14px;
      color: #aaa;
      text-align: justify;
      overflow: hidden;
    }

    .tags {
      font-weight: 300;
      max-height: 60px;
      margin: 5px 0 10px 0;
      font-size: 13px;
      color: #aaa;
      text-align: justify;
      overflow: hidden;
    }

    .materials-stat {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #929292;
      margin: 0 0 0 3px;

      span {
        font-size: 12px;
        margin: 0 20px 0 0;
      }

      .fa {
        margin: 0 5px 0 0;
      }
    }
  }
}