<div
  [class.short]="short"
  class="wrapper z-depth-1"
  routerLink="{{url}}"
>
  <div
    class="header"
    *ngIf="category.media"
    [ngStyle]="{'background-image': 'url(' + category.media + ')'}"
  ></div>
  <div class="content">
    <h3 class="title">{{category.title}}</h3>
    <!-- <p
      *ngIf="category.description && !short"
      class="description"
    >{{description}}</p> -->
      <!-- *ngIf="short && category.tags" -->
    <p
      *ngIf="category.tags"
      class="tags description"
    >{{category.tags.join ? category.tags.join(', ') : category.tags}}</p>
    <div class="materials-stat">
      <i class="fa fa-book"></i>
      <span>{{category.books}}</span>
      <i class="fa fa-youtube-play"></i>
      <span>{{category.videos}}</span>
      <i class="fa fa-graduation-cap"></i>
      <span>{{category.courses}}</span>
      <i class="fa fa-pencil"></i>
      <span>{{category.articles}}</span>
    </div>
  </div>
</div>