/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
  margin: 0;
  font-size: 16px;
  background-color: #f7f6f6;
  overflow-y: scroll;
}

.container {
  margin: 0 auto;
  width: 1340px;
}
/*@media #{$medium-and-up} {
  .container {
    width: 85%;
  }
}
@media #{$large-and-up} {
  .container {
    width: 70%;
  }
}*/
/*.container .row {
  margin-left: (-1 * $gutter-width / 2);
  margin-right: (-1 * $gutter-width / 2);
}*/

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: Roboto, sans-serif;
}

.button-university {
  background: rgba(62,72,109, 0.8);
  color: white;
  font-size: 0.875em;
  padding: 0.625em 0.875em;
}

.button-second {
  background: #dddddd;
  color: #5d5d5d;
  font-size: 0.875em;
  padding: 0.625em 0.875em;
}

.button-cost {
  background: white;
  color: #7a7a7a;
  font-size: 0.875em;
  padding: 0.625em 0.875em;
  min-width: 100%;
}


.button-margin-left {
  margin-left: 2em;
}




/*
youtube.com/embed support
https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
*/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* shadows */
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}